

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Amwal Company History</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="css/bootstrap.css">
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=devanagari,latin-ext" rel="stylesheet">
		<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="fonts/IcoMoon/icomoon.css">
		<link rel="stylesheet" href="fonts/linearicon/style.css">
		<!-- Mobile Menu -->
		<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
		<!-- OWL CAROUSEL
			================================================== --> 
		<link rel="stylesheet" href="css/owl.carousel.css">
		<!-- SELECTBOX
			================================================== -->
		<link rel="stylesheet" type="text/css" href="css/fancySelect.css" media="screen" />
		<!-- Main Style -->
		<link rel="stylesheet" href="style.css">
		
		<!-- Favicons
			================================================== -->
		<link rel="shortcut icon" href="http://placehold.it/32x32/ccc.jpg">
	</head>
	<body class="royal_loader">
		<!-- royal_loader -->
		<div id="page">
			<!-- Mobile Menu -->
			<nav id="menu">
				<ul>
					<li class="active">
						<a href="index.html">Home</a>
						<ul >
							<li ><a  href="index.html">HomePage  v1</a></li>
							<li ><a  href="index_2.html">HomePage  v2</a></li>
							<li ><a  href="index_3.html">HomePage  v3</a></li>
							<li ><a  href="index_4.html">HomePage  v4</a></li>
							<li ><a  href="index_5.html">HomePage  v5</a></li>
							<li ><a  href="index_6.html">HomePage  v6</a></li>
							<li ><a  href="index_7.html">HomePage  v7</a></li>
							<li ><a  href="index_8.html">HomePage  v8</a></li>
							<li ><a  href="index_9.html">HomePage  v9</a></li>
							<li ><a  href="index_10.html">HomePage  v10</a></li>
							<li ><a  href="index_11.html">HomePage  v11</a></li>
							<li ><a  href="index_12.html">HomePage  v12</a></li>
						</ul>
					</li>
					<li><a href="company_history.html">Company</a>
						<ul >

							<li><a href="company_history.html" ><span>Company History</span></a>
								<ul >
									<li><a href="company_history.html" ><span>Company History V1</span></a></li>
									<li><a href="company_history_2.html" ><span>Company History V2</span></a></li>
								</ul>
							</li>
							<li><a href="about.html" ><span>About</span></a>
								<ul >
									<li><a href="about.html" ><span>About Verision 1</span></a></li>
									<li><a href="about_2.html" ><span>About Verision 2</span></a></li>
									<li><a href="about_3.html" ><span>About Verision 3</span></a></li>
									<li><a href="about_4.html" ><span>About Verision 4</span></a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="services.html">Services </a>
						<ul >
							<li ><a  href="services.html">Services Page</a></li>
							<li ><a  href="single_services.html">Single Services</a>
								<ul >
									<li ><a  href="single_services.html">Single Services V1</a></li>
									<li ><a  href="single_services_2.html">Single Services V2</a></li>
									<li ><a  href="single_services_3.html">Single Services V3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="cases.html">Cases</a>
						<ul >
							<li><a href="cases.html">Cases Page</a></li>
							<li ><a  href="single_case.html">Single Cases</a></li>
						</ul>
					</li>
					<li>
						<a href="news.html">Blogs</a>
						<ul >
							<li><a href="news.html">Blog Page</a>
								<ul >
									<li><a href="news.html">Blog List Layout</a></li>
									<li><a href="news-2.html">Blog Grid Layout</a></li>
								</ul>
							</li>
							<li ><a  href="single_new.html">Single Blog</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Pages</a>
						<ul >
							
							<li ><a  href="team.html">Our Team</a>
								<ul >
									<li ><a  href="team.html">Our Team V1</a></li>
									<li ><a  href="team_2.html">Our Team V2</a></li>
									<li ><a  href="single_team.html">Team Single</a></li>
								</ul>
							</li>
							<li ><a  href="testimonials.html">Testimonials</a>
								<ul >
									<li ><a  href="testimonials.html">Testimonials V1</a></li>
									<li ><a  href="testimonials_2.html">Testimonials V2</a></li>
								</ul>
							</li>
							<li ><a  href="career.html">Career</a>
								<ul >
									<li ><a  href="career.html">Career Page</a></li>
									<li ><a  href="career_single.html">Career Single</a></li>
								</ul>
							</li>
							<li ><a  href="partners.html">Partners</a>
								<ul >
									<li ><a  href="partners.html">Partners Verision 1</a></li>
									<li ><a  href="partners_2.html">Partners Verision 2</a></li>
								</ul>
							</li>
							<li ><a  href="branches.html">Branches</a></li>
							<li ><a  href="ceo_message.html">Ceo Message</a></li>
							<li ><a  href="faq.html">FAQ Page</a></li>
							<li ><a  href="pricing.html">Pricing Page</a></li>
							<li ><a  href="my_account.html">Account Page</a></li>
							<li ><a  href="404.html">404 Page</a></li>
							<li ><a  href="comingsoon.html">Under Contruction</a></li>
							<!-- <li ><a  href="typography.html">Typography</a></li>
												<li ><a  href="element.html">Element</a></li> -->
						</ul>
					</li>
					<li>
						<a href="shop.html">Shop</a>
						<ul >
							<li> <a href="shop.html" ><span>Shop Category </span></a>
								<ul >
									<li> <a href="shop.html" ><span>Shop Category </span></a></li>
									<li> <a href="shop_2.html" ><span>Shop Sidebar </span></a></li>
								</ul>
							</li>
							<li ><a  href="single-shop.html">Shop Single</a></li>
							<li ><a  href="checkout.html">CheckOut Page</a></li>
							<li ><a  href="cart.html">Shopping Cart</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
			<!-- /Mobile Menu -->
			<header class="header-h2">
				<div class="topbar tb-dark tb-md">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="topbar-home2">
								<div class="tb-contact tb-iconbox">
									<ul>
										<li><a href="contact.html"><i class="fa fa-map-marker" aria-hidden="true"></i><span><i>Find us</i> 325 admiral unit, North cost, USA</span></a></li>
										<li><a href="mailto:admin@amwal.com"><i class="fa fa-envelope" aria-hidden="true"></i><span><i>Email us</i> admin@amwal.com</span></a></li>
										<li><a href="tel:0100123456789"><i class="fa fa-phone" aria-hidden="true"></i><span><i>Call us now</i> 0100123456789</span></a></li>
									</ul>
								</div>
								<div class="tb-social-lan language">
									<select class="lang">
										<option data-class="usa">English</option>
										<option data-class="italy">Italian</option>
										<option data-class="fr">French</option>
										<option data-class="gm">German</option>
									</select>
									<ul>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="google plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
									</ul>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /topbar -->
				<div class="nav-warp nav-warp-h2">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="navi-warp-home-2">
								<a href="index.html" class="logo"><img src="http://placehold.it/151x38/ccc.jpg" class="img-responsive" alt="Image"></a>
								<nav>
									<ul class="navi-level-1 active-subcolor">
										<li class="active">
											<a href="home">首頁</a>
										
										</li>
										<li><a href="single_services_2">產品</a>
											<ul class="navi-level-2">
											<li><a href="single_services_3" ><span>MT4/MT5搭建</span></a>
													<ul class="navi-level-3">
														<li><a href="single_services_3" ><span>白標租貨</span></a>
															
														</li>
														<li><a href="single_services_4" ><span>CRM系統</span></a>
															
														</li>
													</ul>
												</li>

												<li><a href="single_services_5" ><span>金融產品交易系統</span></a>
													<ul class="navi-level-3">
														<li><a href="single_services_5" ><span>傳統交易系統</span></a></li>
														<li><a href="single_services_6" ><span>二元期權交易系統</span></a></li>
														<li><a href="single_services_7" ><span>移動端交易系統</span></a></li>
													</ul>
												</li>
												<li><a href="single_services_8" ><span>加密數字貨幣</span></a>
													<ul class="navi-level-3">
														<li><a href="single_services_8" ><span>加密貨幣交易系統</span></a></li>
														<li><a href="single_services_9" ><span>加密貨幣錢包系統</span></a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<a href="company_history">服務體系 </a>
											<ul class="navi-level-2">
												<li ><a  href="company_history1">搭建配置服務</a><ul class="navi-level-3">
														<li ><a  href="company_history1">CRM運維</a></li>
														<li ><a  href="company_history2">個性化直播軟件建設</a></li>
														<li ><a  href="company_history3">SEM搜尋引擎管理</a></li>
													</ul>
												</li>
												<li ><a  href="company_history4">量化支持</a>
													<ul class="navi-level-3">
														<li ><a  href="company_history4">跟單系統</a></li>
														<li ><a  href="company_history5">量化策略優化</a></li>
													</ul>
												</li>
												<li ><a  href="company_history6">風險管理</a>
													<ul class="navi-level-3">
														<li ><a  href="company_history6">FIX清算對沖橋</a></li>
														<li ><a  href="company_history7">風控插件定制</a></li>
														<li ><a  href="company_history8">服務器運維</a></li>
														<li ><a  href="company_history9">風險管理系統</a></li>
													</ul>
												</li>
												<li ><a  href="company_history10">Web3.0</a>
													<ul class="navi-level-3">
														<li ><a  href="company_history10">NFT建設</a></li>
														<li ><a  href="company_history11">GameFi建設</a></li>
														<li ><a  href="company_history12">區塊鏈解決方案</a></li>
													</ul>
												</li>
											</ul>
										</li>
									
										<li>
											<a href="about_4">關於我們</a>
									
										</li>
										<li><a href="contact">聯絡我們</a><ul class="navi-level-2">
										
												<li ><a  href="contact">中國大陸辦事處</a></li>
												<li ><a  href="contact">中國台灣辦事處</a></li>
												<li ><a  href="contact">法國巴黎辦事處</a></li>
											</ul>
										</li>
										<li><a href="branches">加入我們</a></li>
									</ul>
								</nav>
								<ul class="subnavi">
									<li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
									<li>
										<a class="btn-search-navi" href="#/"><i class="fa fa-search" aria-hidden="true"></i></a>
										<div class="search-popup">
											<form class="form-search-navi">
												<div class="input-group">
													<input class="form-control" placeholder="Search Here" type="text">
												</div>
												<!-- /input-group -->
											</form>
										</div>
									</li>
								</ul>
								<a href="#menu" class="btn-menu-mobile"><i class="fa fa-bars" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /nav -->
			</header>
			<!-- /End Header 1 Warp -->
			
			<section class="no-padding sh-company-history">
				<div class="sub-header ">
					<span>OUR STORYS IN LINES</span>
					<h3>COMPANY HISTORY</h3>
					<ol class="breadcrumb">
 						<li>
 							<a href="#"><i class="fa fa-home"></i> HOME     </a>
 						</li>
 						<li class="active">COMPANY HISTORY</li>
 					</ol>
				</div>
			</section>
			<!-- /Sub HEader -->
			
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-9">
							<div class="main-page">
								<div class="history-list-warp">
									<div class="item-history-post">
										<p class="title-history"><span>风险管理</span>风控插件定制</p>
										<p>
											即插即用、无缝集成、无限拓展
										</p>
									</div>
								</div>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>通过网页进行交易</h3>
							<span class="bottom-title"></span>
							</div>
							<p>这个插件允许使用网页浏览器通过企业的网页进行交易。从而实现让iPhone, 安卓、平板电脑或其他通信设备进行交易。</p>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>允许报价超时交易</h3>
							<span class="bottom-title"></span>
							</div>
							<p>对于一些报价波动频繁的商品，我需要限制最大的持仓手数。这个插件会检测商品已开仓的手数，不允许超出原先插件设置的数量。</p>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>持仓手数限制插件</h3>
							<span class="bottom-title"></span>
							</div>
							<p>这个服务器插件会探测帐户是否持有对冲持仓，然后会阻止单边的平仓，例如：当你想要阻止客户对冲持仓的单边平仓，只允许持有对冲持仓的帐户以CloseBy及 MultipleCloseBy方式平仓</p>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>跳过对冲插件</h3>
							<span class="bottom-title"></span>
							</div>
							<p>当客户保证金不足时我们需要对客户进行斩仓，但是通常情况下亏损最大的订单已经被锁仓，而在要斩仓的时侯，服务器又会将已被锁仓的亏损最大单平仓掉。那么我们就需要在需斩仓的时候跳过对冲仓位。有了这个插件，它会识别帐户的持仓，跳过所有的对冲仓位并只会平仓另外那些导致斩仓的亏损最大的订单。</p>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>交易者OCO</h3>
							<span class="bottom-title"></span>
							</div>
							<p>这个工具能够让你的交易者可以定义服务器端的OCO限价单了。例如：你想要向交易者提供OCO（one cancels the other）订单的功能——当一个限价单成交的时候，会自动取消另一个限价单，它就可以达到你的这个目的。</p>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>多帐户交易工具</h3>
							<span class="bottom-title"></span>
							</div>
							<p>当你想要基金一样，以PAMM模式管理1000个交易帐户时。这个工具可以帮助软件包创建一个真正的具有PAMM模式基金。 其功能：</p>
							<ul class="list-check-icon">
							<li>无限受管理帐户（通过一个主账户就可以管理1000甚至更多的帐户）</li>
							<li>不限制交易频率</li>
							<li>允许在主账户上运行智能交易系统</li>
							<li>为吸引顾客的投资者提供佣金</li>	
							</ul>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>佣金分配插件</h3>
							<span class="bottom-title"></span>
							</div>
							<p>这个插件为主代理的帐户收取一部分佣金，剩下的佣金就划给二级代理。例如：你想支付双重佣金。你要分开支付佣金给帐户代理和代理的代理（二级代理佣金）。你想支付一部分佣金给我的直接经纪人，剩下的佣金就支付给与我的经纪人共事的管理员。</p>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>阻止对冲持仓的单边平仓插件</h3>
							<span class="bottom-title"></span>
							</div>
							<p>这个服务器插件会探测帐户是否持有对冲持仓，然后会阻止单边的平仓，例如：当你想要阻止客户对冲持仓的单边平仓，只允许持有对冲持仓的帐户以CloseBy及 MultipleCloseBy方式平仓。</p>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>向无利润的帐户收取费用插件</h3>
							<span class="bottom-title"></span>
							</div>
							<p>这个服务器插件能够向那些没有交易、没有利润的帐户收取费用。例如，你可以向那些没有任何的持仓、一段时间没有交易的帐号收取维护的服务费用。</p>
							<p>选项: 生效组/生效商品 /收费标准</p>
							<p>重要注释:这个插件可以定制为按日结/月结而确定不同的收费周期，这取决于公司的规则。</p>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>收取平仓手续费</h3>
							<span class="bottom-title"></span>
							</div>
							<p>这这个服务器插件能够在保留收取开仓佣金的同时，在交易者平仓的时候再另外收取一定的佣金。</p>
							<p>选项: 生效组 /生效商品/每手收费标准</p>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>信用额收息插件</h3>
							<span class="bottom-title"></span>
							</div>
							<p>当你给你的客户开设一定的信用额度，同时又要为这一信用额度收取利息时。这个插件，它能每日按比例从客户帐户中收取费用作为信用额度的费用。你就不再每天为收取这一费用而做大量的记录，计算的工作。</p>
							<p>选项:</p>
							<ul class="list-check-icon">
							<li>生效组</li>
							<li>生效商品</li>
							<li>每手每斤收息标准</li>
							<li>收息标准分组（例：3%、5%组）</li>	
							<li>各标准分组包含的商品列表</li>	
							</ul>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>多代理人插件程序</h3>
							<span class="bottom-title"></span>
							</div>
							<p>这个服务器端插件程序可以让一个顾客的帐户对应不同代理人的帐户</p>
							<p>选项:</p>
							<ul class="list-check-icon">
							<li>组/个人帐户</li>
							<li>可规定每组或每个帐户的代理人数量</li>
							<li>返还给每位代理的佣金金额</li>
							<P>Important Notes:重要注释 · 本插件程序可以根据公司要求定制 · 组/商品和资料库储存着每个帐户代理人的资料</P>	
							</ul>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>帐户返佣插件程序</h3>
							<span class="bottom-title"></span>
							</div>
							<p>这个服务器插件程序会将一定量的佣金返还给平仓的帐户持有者作为返佣。这是经纪公司用来引导他们的顾客的新功能。</p>
							<p>选项:</p>
							<ul class="list-check-icon">
							<li>生效组</li>
							<li>生效商品</li>
							<li>每手返还费用</li>
							<P>重要注释:</P>	
							<li>这个插件可以定制为按平仓/日结/月结计算，这取决于公司的规则。</li>
							<li>返佣插件程序用于月结时，会根据每月交易量等级提供不同的返佣总量。</li>
							</ul>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>持仓时段减租插件</h3>
							<span class="bottom-title"></span>
							</div>
							<p>这个服务器方插件程序可以在客户开仓后一定时间过后，减少相关费用。例如：公司在开仓5天后减少仓租的收费金额。</p>
							<P>选项:</P>
							<ul class="list-check-icon">
							<li>可以设置插件影响的组/商品，暂存天数，插件程序开始收取减少费用的天数，费用减少的值（以每手计算）</li>
							<li>生效这个插件程序可以根据公司需求定制，例如每个商品不同的费用收取方式，等等…</li>
							</ul>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>挂单时效设置插件</h3>
							<span class="bottom-title"></span>
							</div>
							<p>这个服务器插件程序能自动检查各商品的交易时段，让你可以在相关商品交易时段截止时，删除限价单、清除持仓订单或把止损和止盈值归零。</p>
							<P>选项:</P>
							<ul class="list-check-icon">
							<li>根据交易时效的结束时间关闭交易以每手计算）</li>
							<li>在交易时效结束时，清除限价订单</li>
							<li>把止损和止盈值归零</li>
							</ul>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>防死价保护插件</h3>
							<span class="bottom-title"></span>
							</div>
							<p>这个服务器端插件程序在报价冻结时（可能因为非常高数据流而引起）保护你的公司免受损失。尤其在市场动荡的时候，这个插件程序就可以在防止在这种情况下出现的投机者从中获利。 这些选项可以对所有分组生效，有以下的四个保护等级:</p>
							<ul class="list-check-icon">
							<li>默认等级</li>
							<li>低等</li>
							<li>中等</li>
							<li>高等</li>	
							</ul>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>拒绝点差交易插件</h3>
							<span class="bottom-title"></span>
							</div>
							<p>因所有的MT5系统服务在特殊且极端的情况下均有可能出现行情数据延迟的现象。 这个服务器插件程序是阻止点差交易者在短时间内完成交易的最佳工具。这个类型的交易请求会被插件识别为对服务器发起的恶意交易攻击（或称DDOS洪水攻击）。如果点差交易者想要短时间内平掉一些仓位，则会被插件自动识别为恶意攻击者，而不是被识别为点数交易者。从而阻止这类客户交易请求因行情数据源延迟问题而获得好处。</p>
							<P>选项:</P>
							<ul class="list-check-icon">
							<li> 可以根据不同的组、商品甚至个别顾客灵活进行配置</li>
							<li>根据你自定的关键词识别，从客户资料中的注释识别客户身份</li>
							<li>设置插件程序生效的最小交易量 开仓至平仓的间隔时间</li>
							</ul>
							</div>
							
							<div class="col-md-6">
							<div class="title-block title-contact">
							<h3>手机短信通知插件网关</h3>
							<span class="bottom-title"></span>
							</div>
							<p>我们的手机短信通知插件网关，安装在服务器端，它能够在客户的帐户发生变化时，通过手机短信通知你的客户，例如：完成新的交易、完成挂单、存款、提款等情况。事件安排由系统管理员完成，他可以根据他的情况决定是否发出提醒。</p>
							<P>选项这些选项可以对所有分组或个别设置，你只需要为需要你提供短信服务的顾客设置这个选项就可以了。</P>
							<ul class="list-check-icon">
							<li>限价单成交、止损、止盈及斩仓</li>
							<li>入金与出金</li>
							<li>电子邮件通知</li>
							<li>新闻通知</li>	
							</ul>
							<P>为每条短信收取费用</P>
							</div>
							
							
						</div>
						<div class="col-md-3">
							<div class="sideabar">
								<div class="widget widget-sidebar widget-list-link">
									<h4 class="title-widget-sidebar">
										运营推广
									</h4>
									<ul class="wd-list-link">
										<li><a href="company_history1">CRM运维</a></li>
										<li><a href="company_history2">个性化直播软件建设</a></li>
										<li><a href="company_history3">SEM搜索引擎管理</a></li>
									</ul>
								</div>
								<div class="widget widget-sidebar widget-list-link">
									<h4 class="title-widget-sidebar">
										量化支持
									</h4>
									<ul class="wd-list-link">
										<li><a href="company_history4">跟单系统</a></li>
										<li><a href="company_history5">量化策略优化</a></li>
										
									</ul>
								</div>
								
								<div class="widget widget-sidebar widget-list-link">
									<h4 class="title-widget-sidebar">
										风险管理
									</h4>
									<ul class="wd-list-link">
										<li><a href="company_history6">FIX清算对冲桥</a></li>
										<li><a href="company_history7">风控插件定制</a></li>
										<li><a href="company_history8">服务器运维</a></li>
										<li><a href="company_history9">风险管理系统</a></li>
									</ul>
								</div>
								<div class="widget widget-sidebar widget-list-link">
									<h4 class="title-widget-sidebar">
										Web 3.0
									</h4>
									<ul class="wd-list-link">
										<li><a href="company_history10">NFT 程序</a></li>
										<li><a href="company_history11">GameFi程序</a></li>
										<li><a href="company_histor12">区块链解决方案</a></li>
									
									</ul>
								</div>
						</div>
					</div>
				</div>
			</section>

			<section class="bg-subcr-1">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="subcribe-warp whitecolor">
								<h2 class="sub-text-subcri">管理您的客户关系系统</h2>
								<form class="form-inline form-subcri">
								  <div class="form-group">
								    <label for="exampleInputName2"><small>深耕金融服务市场十年，我们明白，对于经纪人来说，时间就是金钱。这就是为什么我们工作快，同时追求质量。<span> 我们将在一天内提升您的业务</span>  -这就是将交易商 CRM 系统与您的交易平台集成所需的时间。</small></label>
								  </div>
								</form>
							</div>
						</div>
						<div class="col-md-12">
							<button class="darkbutton">获取您的CRM（联系我们）</button>
							
						</div>
					</div>
				</div>
			</section>
			<!-- /Subcribe -->
			<!-- Footer -->
			<footer class="f-bg-dark">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-text">
								<div class="title-block title-on-dark title-xs">
									<h4>About Amwal</h4>
									<span class="bottom-title"></span>
								</div>
								<p>The lysine contingency - it's intended to prevent the spread of the animals is case they ever got off the island. Dr. Wu inserted a gene that makes.</p>
								<ul class="widget widget-footer widget-footer-social-1">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-icon-link">
								<div class="title-block title-on-dark title-xs">
									<h4>Head Office</h4>
									<span class="bottom-title"></span>
								</div>

								<ul class="icon-link-list-icon">
									<li><i class="fa fa-map-marker" aria-hidden="true"></i>1422 Aqua blue Road St. Santa Rosa,tCA, USA.</li>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:admin@amwal.com">admin@amwal.com</a></li>
									<li><i class="fa fa-headphones" aria-hidden="true"></i> <a href="mailto:admin@amwal.com">support@amwal.com</a></li>
									<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:01008431112"> 002- 01008431112</a></li>
									<li><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:01008431112"> 002- 01008431112 </a></li>

								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-list-link">
								<div class="title-block title-on-dark title-xs">
									<h4>Company Links</h4>
									<span class="bottom-title"></span>
								</div>
								<ul>
									<li><a href="#">Our History</a></li>
									<li><a href="#">Mission & Vision</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="#">Partners</a></li>
									<li><a href="#">Our Team</a></li>
									<li><a href="#">Testimonials</a></li>

								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-img">
								<div class="title-block title-on-dark title-xs">
									<h4>Our Branches</h4>
									<span class="bottom-title"></span>
								</div>
								<img src="http://placehold.it/242x157/ccc.jpg" class="img-responsive" alt="Image">
							</div>
						</div>
					</div>
				</div>
			</footer>	
			<!-- /Footer -->

			<section class="no-padding cr-h1">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="copyright-warp cr-1">
								<div class="copyright-list-link">
									<ul>
										<li><a href="#">Home   </a></li>
										<li><a href="#">About Us  </a></li>
										<li><a href="#">Services   </a></li>
										<li><a href="#">Our Advisors  </a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</div>
								<div class="copyright-text">
									<p>© 2016 Amwal - Powered By <span>Mohamed Arafa</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /copyright -->
		</div>
		<!-- /page -->
		<a id="to-the-top" class="fixbtt bg-hover-theme"><i class="fa fa-chevron-up"></i></a> 
		<!-- Back To Top -->
		<!-- Switcher -->
		<!-- End Switcher -->
		<!-- SCRIPT -->
		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/vendor/bootstrap.js"></script>
		
		<!-- Sticky -->
		<script src="js/plugins/jquery.sticky-kit.min.js"></script>
		<!-- <script src="js/plugins/sticky.js"></script> -->
		<!-- Mobile Menu
			================================================== -->
		<script type="text/javascript" src="js/plugins/jquery.mmenu.all.min.js"></script>
		<script type="text/javascript" src="js/plugins/mobilemenu.js"></script>
		
		<!-- PreLoad
			================================================== --> 
		<script type="text/javascript" src="js/plugins/royal_preloader.js"></script>
		<!-- Parallax -->
		<script src="js/plugins/jquery.parallax-1.1.3.js"></script>
		<!-- <script src="js/plugins/parallax.js"></script> -->
		<!-- Fancy Select -->
		<script src="js/plugins/fancySelect.js"></script>
		<script src="js/plugins/lang-select.js"></script>
		<!-- Initializing the isotope
	    ================================================== --> 
	    <script src="js/plugins/isotope.pkgd.min.js"></script>
	    <script src="js/plugins/custom-isotope.js"></script>
		<!-- Global Js
			================================================== --> 
		<script src="js/plugins/template.js"></script>
		<!-- Demo Switcher
			================================================== -->
		<!-- <script src="switcher/demo.js"></script> -->
	</body>
</html>

