

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Amwal Company History</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="css/bootstrap.css">
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=devanagari,latin-ext" rel="stylesheet">
		<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="fonts/IcoMoon/icomoon.css">
		<link rel="stylesheet" href="fonts/linearicon/style.css">
		<!-- Mobile Menu -->
		<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
		<!-- OWL CAROUSEL
			================================================== --> 
		<link rel="stylesheet" href="css/owl.carousel.css">
		<!-- SELECTBOX
			================================================== -->
		<link rel="stylesheet" type="text/css" href="css/fancySelect.css" media="screen" />
		<!-- Main Style -->
		<link rel="stylesheet" href="style.css">
		
		<!-- Favicons
			================================================== -->
		<link rel="shortcut icon" href="http://placehold.it/32x32/ccc.jpg">
	</head>
	<body class="royal_loader">
		<!-- royal_loader -->
		<div id="page">
			<!-- Mobile Menu -->
			<nav id="menu">
				<ul>
					<li class="active">
						<a href="index.html">Home</a>
						<ul >
							<li ><a  href="index.html">HomePage  v1</a></li>
							<li ><a  href="index_2.html">HomePage  v2</a></li>
							<li ><a  href="index_3.html">HomePage  v3</a></li>
							<li ><a  href="index_4.html">HomePage  v4</a></li>
							<li ><a  href="index_5.html">HomePage  v5</a></li>
							<li ><a  href="index_6.html">HomePage  v6</a></li>
							<li ><a  href="index_7.html">HomePage  v7</a></li>
							<li ><a  href="index_8.html">HomePage  v8</a></li>
							<li ><a  href="index_9.html">HomePage  v9</a></li>
							<li ><a  href="index_10.html">HomePage  v10</a></li>
							<li ><a  href="index_11.html">HomePage  v11</a></li>
							<li ><a  href="index_12.html">HomePage  v12</a></li>
						</ul>
					</li>
					<li><a href="company_history.html">Company</a>
						<ul >

							<li><a href="company_history.html" ><span>Company History</span></a>
								<ul >
									<li><a href="company_history.html" ><span>Company History V1</span></a></li>
									<li><a href="company_history_2.html" ><span>Company History V2</span></a></li>
								</ul>
							</li>
							<li><a href="about.html" ><span>About</span></a>
								<ul >
									<li><a href="about.html" ><span>About Verision 1</span></a></li>
									<li><a href="about_2.html" ><span>About Verision 2</span></a></li>
									<li><a href="about_3.html" ><span>About Verision 3</span></a></li>
									<li><a href="about_4.html" ><span>About Verision 4</span></a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="services.html">Services </a>
						<ul >
							<li ><a  href="services.html">Services Page</a></li>
							<li ><a  href="single_services.html">Single Services</a>
								<ul >
									<li ><a  href="single_services.html">Single Services V1</a></li>
									<li ><a  href="single_services_2.html">Single Services V2</a></li>
									<li ><a  href="single_services_3.html">Single Services V3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="cases.html">Cases</a>
						<ul >
							<li><a href="cases.html">Cases Page</a></li>
							<li ><a  href="single_case.html">Single Cases</a></li>
						</ul>
					</li>
					<li>
						<a href="news.html">Blogs</a>
						<ul >
							<li><a href="news.html">Blog Page</a>
								<ul >
									<li><a href="news.html">Blog List Layout</a></li>
									<li><a href="news-2.html">Blog Grid Layout</a></li>
								</ul>
							</li>
							<li ><a  href="single_new.html">Single Blog</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Pages</a>
						<ul >
							
							<li ><a  href="team.html">Our Team</a>
								<ul >
									<li ><a  href="team.html">Our Team V1</a></li>
									<li ><a  href="team_2.html">Our Team V2</a></li>
									<li ><a  href="single_team.html">Team Single</a></li>
								</ul>
							</li>
							<li ><a  href="testimonials.html">Testimonials</a>
								<ul >
									<li ><a  href="testimonials.html">Testimonials V1</a></li>
									<li ><a  href="testimonials_2.html">Testimonials V2</a></li>
								</ul>
							</li>
							<li ><a  href="career.html">Career</a>
								<ul >
									<li ><a  href="career.html">Career Page</a></li>
									<li ><a  href="career_single.html">Career Single</a></li>
								</ul>
							</li>
							<li ><a  href="partners.html">Partners</a>
								<ul >
									<li ><a  href="partners.html">Partners Verision 1</a></li>
									<li ><a  href="partners_2.html">Partners Verision 2</a></li>
								</ul>
							</li>
							<li ><a  href="branches.html">Branches</a></li>
							<li ><a  href="ceo_message.html">Ceo Message</a></li>
							<li ><a  href="faq.html">FAQ Page</a></li>
							<li ><a  href="pricing.html">Pricing Page</a></li>
							<li ><a  href="my_account.html">Account Page</a></li>
							<li ><a  href="404.html">404 Page</a></li>
							<li ><a  href="comingsoon.html">Under Contruction</a></li>
							<!-- <li ><a  href="typography.html">Typography</a></li>
												<li ><a  href="element.html">Element</a></li> -->
						</ul>
					</li>
					<li>
						<a href="shop.html">Shop</a>
						<ul >
							<li> <a href="shop.html" ><span>Shop Category </span></a>
								<ul >
									<li> <a href="shop.html" ><span>Shop Category </span></a></li>
									<li> <a href="shop_2.html" ><span>Shop Sidebar </span></a></li>
								</ul>
							</li>
							<li ><a  href="single-shop.html">Shop Single</a></li>
							<li ><a  href="checkout.html">CheckOut Page</a></li>
							<li ><a  href="cart.html">Shopping Cart</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
			<!-- /Mobile Menu -->
			<header class="header-h2">
				<div class="topbar tb-dark tb-md">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="topbar-home2">
								<div class="tb-contact tb-iconbox">
									<ul>
										<li><a href="contact.html"><i class="fa fa-map-marker" aria-hidden="true"></i><span><i>Find us</i> 325 admiral unit, North cost, USA</span></a></li>
										<li><a href="mailto:admin@amwal.com"><i class="fa fa-envelope" aria-hidden="true"></i><span><i>Email us</i> admin@amwal.com</span></a></li>
										<li><a href="tel:0100123456789"><i class="fa fa-phone" aria-hidden="true"></i><span><i>Call us now</i> 0100123456789</span></a></li>
									</ul>
								</div>
								<div class="tb-social-lan language">
									<select class="lang">
										<option data-class="usa">English</option>
										<option data-class="italy">Italian</option>
										<option data-class="fr">French</option>
										<option data-class="gm">German</option>
									</select>
									<ul>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="google plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
									</ul>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /topbar -->
				<div class="nav-warp nav-warp-h2">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="navi-warp-home-2">
								<a href="index.html" class="logo"><img src="http://placehold.it/151x38/ccc.jpg" class="img-responsive" alt="Image"></a>
								<nav>
									<ul class="navi-level-1 active-subcolor">
										<li class="active">
											<a href="home">首頁</a>
										
										</li>
										<li><a href="single_services_2">產品</a>
											<ul class="navi-level-2">
											<li><a href="single_services_3" ><span>MT4/MT5搭建</span></a>
													<ul class="navi-level-3">
														<li><a href="single_services_3" ><span>白標租貨</span></a>
															
														</li>
														<li><a href="single_services_4" ><span>CRM系統</span></a>
															
														</li>
													</ul>
												</li>

												<li><a href="single_services_5" ><span>金融產品交易系統</span></a>
													<ul class="navi-level-3">
														<li><a href="single_services_5" ><span>傳統交易系統</span></a></li>
														<li><a href="single_services_6" ><span>二元期權交易系統</span></a></li>
														<li><a href="single_services_7" ><span>移動端交易系統</span></a></li>
													</ul>
												</li>
												<li><a href="single_services_8" ><span>加密數字貨幣</span></a>
													<ul class="navi-level-3">
														<li><a href="single_services_8" ><span>加密貨幣交易系統</span></a></li>
														<li><a href="single_services_9" ><span>加密貨幣錢包系統</span></a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<a href="company_history">服務體系 </a>
											<ul class="navi-level-2">
												<li ><a  href="company_history1">搭建配置服務</a><ul class="navi-level-3">
														<li ><a  href="company_history1">CRM運維</a></li>
														<li ><a  href="company_history2">個性化直播軟件建設</a></li>
														<li ><a  href="company_history3">SEM搜尋引擎管理</a></li>
													</ul>
												</li>
												<li ><a  href="company_history4">量化支持</a>
													<ul class="navi-level-3">
														<li ><a  href="company_history4">跟單系統</a></li>
														<li ><a  href="company_history5">量化策略優化</a></li>
													</ul>
												</li>
												<li ><a  href="company_history6">風險管理</a>
													<ul class="navi-level-3">
														<li ><a  href="company_history6">FIX清算對沖橋</a></li>
														<li ><a  href="company_history7">風控插件定制</a></li>
														<li ><a  href="company_history8">服務器運維</a></li>
														<li ><a  href="company_history9">風險管理系統</a></li>
													</ul>
												</li>
												<li ><a  href="company_history10">Web3.0</a>
													<ul class="navi-level-3">
														<li ><a  href="company_history10">NFT建設</a></li>
														<li ><a  href="company_history11">GameFi建設</a></li>
														<li ><a  href="company_history12">區塊鏈解決方案</a></li>
													</ul>
												</li>
											</ul>
										</li>
									
										<li>
											<a href="about_4">關於我們</a>
									
										</li>
										<li><a href="contact">聯絡我們</a><ul class="navi-level-2">
										
												<li ><a  href="contact">中國大陸辦事處</a></li>
												<li ><a  href="contact">中國台灣辦事處</a></li>
												<li ><a  href="contact">法國巴黎辦事處</a></li>
											</ul>
										</li>
										<li><a href="branches">加入我們</a></li>
									</ul>
								</nav>
								<ul class="subnavi">
									<li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
									<li>
										<a class="btn-search-navi" href="#/"><i class="fa fa-search" aria-hidden="true"></i></a>
										<div class="search-popup">
											<form class="form-search-navi">
												<div class="input-group">
													<input class="form-control" placeholder="Search Here" type="text">
												</div>
												<!-- /input-group -->
											</form>
										</div>
									</li>
								</ul>
								<a href="#menu" class="btn-menu-mobile"><i class="fa fa-bars" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /nav -->
			</header>
			<!-- /End Header 1 Warp -->
			
			<section class="no-padding sh-company-history">
				<div class="sub-header ">
					<span>OUR STORYS IN LINES</span>
					<h3>COMPANY HISTORY</h3>
					<ol class="breadcrumb">
 						<li>
 							<a href="#"><i class="fa fa-home"></i> HOME     </a>
 						</li>
 						<li class="active">COMPANY HISTORY</li>
 					</ol>
				</div>
			</section>
			<!-- /Sub HEader -->
			
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-9">
							<div class="main-page">
								<div class="history-list-warp">	
									<div class="item-history-post">
										<p class="title-history"><span>Web 3.0</span>区块链解决方案</p>
										<p>
											Protex为您的企业提供安全且能轻松上手的软体即服务(SaaS) 区块链解决方案，且我们的产品设计纳入了非技术人员的需求。请放心将复杂的技术交给我们，您只需专注于提供更好的服务给您的客户。
										</p>
									</div>
								</div>
							</div>
							
							<div class="title-block title-contact">
							<h3>产品集市</h3>
							<span class="bottom-title"></span>
							</div>
							<p>在我们的产品市集里，您可以找到越来越多满足您个人需求的应用程式，包含协助您纪录个人事项、处理工作相关的任务、标记数字资产等。您也可以前来咨询您对Web3转型创新的新想法。</p>
							<ul class="list-check-icon">
							<li>学习履历</li>
							<P>学习履历是一款适用于各种教育环境的区块链应用程式，这个强大的工具从各种层面改善了传统教育，使学习纪录的追踪与保存变得轻松且易于检索。</P>
							<li>Smart IP</li>
							<P>文件管理系统有着极高的重要性，与区块链技术整合后，该系统的数据得以透明化并加强安全性，因而增加所有权证明和其他证明文件的公信力，因此，区块链不可篡改的特性能够增强任何文件管理系统内的法律认证公信力。</P>
							</ul>
							
							
						</div>
						<div class="col-md-3">
							<div class="sideabar">
								<div class="widget widget-sidebar widget-list-link">
									<h4 class="title-widget-sidebar">
										运营推广
									</h4>
									<ul class="wd-list-link">
										<li><a href="company_history1">CRM运维</a></li>
										<li><a href="company_history2">个性化直播软件建设</a></li>
										<li><a href="company_history3">SEM搜索引擎管理</a></li>
									</ul>
								</div>
								<div class="widget widget-sidebar widget-list-link">
									<h4 class="title-widget-sidebar">
										量化支持
									</h4>
									<ul class="wd-list-link">
										<li><a href="company_history4">跟单系统</a></li>
										<li><a href="company_history5">量化策略优化</a></li>
										
									</ul>
								</div>
								
								<div class="widget widget-sidebar widget-list-link">
									<h4 class="title-widget-sidebar">
										风险管理
									</h4>
									<ul class="wd-list-link">
										<li><a href="company_history6">FIX清算对冲桥</a></li>
										<li><a href="company_history7">风控插件定制</a></li>
										<li><a href="company_history8">服务器运维</a></li>
										<li><a href="company_history9">风险管理系统</a></li>
									</ul>
								</div>
								<div class="widget widget-sidebar widget-list-link">
									<h4 class="title-widget-sidebar">
										Web 3.0
									</h4>
									<ul class="wd-list-link">
										<li><a href="company_history10">NFT 程序</a></li>
										<li><a href="company_history11">GameFi程序</a></li>
										<li><a href="company_history12">区块链解决方案</a></li>
									
									</ul>
								</div>
						</div>
					</div>
				</div>
			</section>

			<section class="bg-subcr-1">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="subcribe-warp whitecolor">
								<h2 class="sub-text-subcri">管理您的客户关系系统</h2>
								<form class="form-inline form-subcri">
								  <div class="form-group">
								    <label for="exampleInputName2"><small>深耕金融服务市场十年，我们明白，对于经纪人来说，时间就是金钱。这就是为什么我们工作快，同时追求质量。<span> 我们将在一天内提升您的业务</span>  -这就是将交易商 CRM 系统与您的交易平台集成所需的时间。</small></label>
								  </div>
								</form>
							</div>
						</div>
						<div class="col-md-12">
							<button class="darkbutton">获取您的CRM（联系我们）</button>
							
						</div>
					</div>
				</div>
			</section>
			<!-- /Subcribe -->
			<!-- Footer -->
			<footer class="f-bg-dark">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-text">
								<div class="title-block title-on-dark title-xs">
									<h4>About Amwal</h4>
									<span class="bottom-title"></span>
								</div>
								<p>The lysine contingency - it's intended to prevent the spread of the animals is case they ever got off the island. Dr. Wu inserted a gene that makes.</p>
								<ul class="widget widget-footer widget-footer-social-1">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-icon-link">
								<div class="title-block title-on-dark title-xs">
									<h4>Head Office</h4>
									<span class="bottom-title"></span>
								</div>

								<ul class="icon-link-list-icon">
									<li><i class="fa fa-map-marker" aria-hidden="true"></i>1422 Aqua blue Road St. Santa Rosa,tCA, USA.</li>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:admin@amwal.com">admin@amwal.com</a></li>
									<li><i class="fa fa-headphones" aria-hidden="true"></i> <a href="mailto:admin@amwal.com">support@amwal.com</a></li>
									<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:01008431112"> 002- 01008431112</a></li>
									<li><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:01008431112"> 002- 01008431112 </a></li>

								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-list-link">
								<div class="title-block title-on-dark title-xs">
									<h4>Company Links</h4>
									<span class="bottom-title"></span>
								</div>
								<ul>
									<li><a href="#">Our History</a></li>
									<li><a href="#">Mission & Vision</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="#">Partners</a></li>
									<li><a href="#">Our Team</a></li>
									<li><a href="#">Testimonials</a></li>

								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-img">
								<div class="title-block title-on-dark title-xs">
									<h4>Our Branches</h4>
									<span class="bottom-title"></span>
								</div>
								<img src="http://placehold.it/242x157/ccc.jpg" class="img-responsive" alt="Image">
							</div>
						</div>
					</div>
				</div>
			</footer>	
			<!-- /Footer -->

			<section class="no-padding cr-h1">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="copyright-warp cr-1">
								<div class="copyright-list-link">
									<ul>
										<li><a href="#">Home   </a></li>
										<li><a href="#">About Us  </a></li>
										<li><a href="#">Services   </a></li>
										<li><a href="#">Our Advisors  </a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</div>
								<div class="copyright-text">
									<p>© 2016 Amwal - Powered By <span>Mohamed Arafa</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /copyright -->
		</div>
		<!-- /page -->
		<a id="to-the-top" class="fixbtt bg-hover-theme"><i class="fa fa-chevron-up"></i></a> 
		<!-- Back To Top -->
		<!-- Switcher -->
		<!-- End Switcher -->
		<!-- SCRIPT -->
		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/vendor/bootstrap.js"></script>
		
		<!-- Sticky -->
		<script src="js/plugins/jquery.sticky-kit.min.js"></script>
		<!-- <script src="js/plugins/sticky.js"></script> -->
		<!-- Mobile Menu
			================================================== -->
		<script type="text/javascript" src="js/plugins/jquery.mmenu.all.min.js"></script>
		<script type="text/javascript" src="js/plugins/mobilemenu.js"></script>
		
		<!-- PreLoad
			================================================== --> 
		<script type="text/javascript" src="js/plugins/royal_preloader.js"></script>
		<!-- Parallax -->
		<script src="js/plugins/jquery.parallax-1.1.3.js"></script>
		<!-- <script src="js/plugins/parallax.js"></script> -->
		<!-- Fancy Select -->
		<script src="js/plugins/fancySelect.js"></script>
		<script src="js/plugins/lang-select.js"></script>
		<!-- Initializing the isotope
	    ================================================== --> 
	    <script src="js/plugins/isotope.pkgd.min.js"></script>
	    <script src="js/plugins/custom-isotope.js"></script>
		<!-- Global Js
			================================================== --> 
		<script src="js/plugins/template.js"></script>
		<!-- Demo Switcher
			================================================== -->
		<!-- <script src="switcher/demo.js"></script> -->
	</body>
</html>

