

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Amwal Index</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
		<!-- Bootstrap CSS -->
		<!-- <link rel="stylesheet" href="css/bootstrap.css">-->
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=devanagari,latin-ext" rel="stylesheet">
		<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
		
		<link rel="stylesheet" href="fonts/IcoMoon/icomoon.css">
		<!-- Mobile Menu -->
		<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
		<!-- OWL CAROUSEL
			================================================== --> 
		<link rel="stylesheet" href="css/owl.carousel.css">
		<!-- SELECTBOX
			================================================== -->
		<link rel="stylesheet" type="text/css" href="css/fancySelect.css" media="screen" />
		<!-- REVOLUTION STYLE SHEETS -->
		<link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
		<!-- REVOLUTION LAYERS STYLES -->
		<link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
		<!-- REVOLUTION NAVIGATION STYLES -->
		<link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
		<!-- Main Style -->
		<link rel="stylesheet" href="style.css">
		
		<!-- Favicons
			================================================== -->
		<link rel="shortcut icon" href="http://placehold.it/32x32/ccc.jpg">
	</head>
	<body class="royal_loader">
		<!-- royal_loader -->
		<div id="page">
			<!-- Mobile Menu -->
			<nav id="menu">
				<ul>
					<li class="active">
						<a href="home">首頁</a>
						
					</li>
					<li><a href="company_history.html">產品</a>
						<ul >

							<li><a href="company_history.html" ><span>Company History</span></a>
								<ul >
									<li><a href="company_history.html" ><span>Company History V1</span></a></li>
									<li><a href="company_history_2.html" ><span>Company History V2</span></a></li>
								</ul>
							</li>
							<li><a href="about.html" ><span>About</span></a>
								<ul >
									<li><a href="about.html" ><span>About Verision 1</span></a></li>
									<li><a href="about_2.html" ><span>About Verision 2</span></a></li>
									<li><a href="about_3.html" ><span>About Verision 3</span></a></li>
									<li><a href="about_4.html" ><span>About Verision 4</span></a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="single_services_2">服務體系 </a>
						<ul >
							<li ><a  href="single_services_2">Services Page</a></li>
							<li ><a  href="single_services.html">Single Services</a>
								<ul >
									<li ><a  href="single_services.html">Single Services V1</a></li>
									<li ><a  href="single_services_2.html">Single Services V2</a></li>
									<li ><a  href="single_services_3.html">Single Services V3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="about_4">關於我們</a>
						<ul >
							<li><a href="about_4">Cases Page</a></li>
							<li ><a  href="single_case.html">Single Cases</a></li>
						</ul>
					</li>
					<li>
						<a href="contact">聯繫我們</a>
						<ul >
							<li><a href="contact">Blog Page</a>
								<ul >
									<li><a href="">Blog List Layout</a></li>
									<li><a href="news-2.html">Blog Grid Layout</a></li>
								</ul>
							</li>
							<li ><a  href="single_new.html">Single Blog</a></li>
						</ul>
					</li>
					<li>
						<a href="#">加入我們</a>
						<ul >
							
							<li ><a  href="team.html">Our Team</a>
								<ul >
									<li ><a  href="team.html">Our Team V1</a></li>
									<li ><a  href="team_2.html">Our Team V2</a></li>
									<li ><a  href="single_team.html">Team Single</a></li>
								</ul>
							</li>
							<li ><a  href="testimonials.html">Testimonials</a>
								<ul >
									<li ><a  href="testimonials.html">Testimonials V1</a></li>
									<li ><a  href="testimonials_2.html">Testimonials V2</a></li>
								</ul>
							</li>
							<li ><a  href="career.html">Career</a>
								<ul >
									<li ><a  href="career.html">Career Page</a></li>
									<li ><a  href="career_single.html">Career Single</a></li>
								</ul>
							</li>
							<li ><a  href="partners.html">Partners</a>
								<ul >
									<li ><a  href="partners.html">Partners Verision 1</a></li>
									<li ><a  href="partners_2.html">Partners Verision 2</a></li>
								</ul>
							</li>
							<li ><a  href="branches.html">Branches</a></li>
							<li ><a  href="ceo_message.html">Ceo Message</a></li>
							<li ><a  href="faq.html">FAQ Page</a></li>
							<li ><a  href="pricing.html">Pricing Page</a></li>
							<li ><a  href="my_account.html">Account Page</a></li>
							<li ><a  href="404.html">404 Page</a></li>
							<li ><a  href="comingsoon.html">Under Contruction</a></li>
							<!-- <li ><a  href="typography.html">Typography</a></li>
												<li ><a  href="element.html">Element</a></li> -->
						</ul>
					</li>
					
				</ul>
			</nav>
			<!-- /Mobile Menu -->
			<header>
				<div class="nav-warp nav-warp-h4">
					<div class="navi-warp-home-4">
						<a href="index.html" class="logo"><img src="http://placehold.it/151x38/ccc.jpg" class="img-responsive" alt="Image"></a>
						<a href="#menu" class="btn-menu-mobile"><i class="fa fa-bars" aria-hidden="true"></i></a>
						<div class="tb-social-lan language">
							<ul>
								<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="google plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
							</ul>	
							<select class="lang">
								<option data-class="usa">English</option>
								<option data-class="italy">Italian</option>
								<option data-class="fr">French</option>
								<option data-class="gm">German</option>
							</select>
							<div class="tb-contact tb-oneline">
								<ul>
									<li><a href="mailto:admin@amwal.com"><i class="fa fa-envelope" aria-hidden="true"></i> admin@amwal.com</a></li>
									<li><a href="tel:0100123456789"><i class="fa fa-phone" aria-hidden="true"></i> 0100123456789</a></li>
								</ul>
							</div>						
						</div>
						<nav>
									<ul class="navi-level-1 active-subcolor">
										<li class="active">
											<a href="index.html">首頁</a>
										
										</li>
										<li><a href="single_services_2">產品</a>
											<ul class="navi-level-2">
											<li><a href="company_history.html" ><span>系統建設</span></a>
													<ul class="navi-level-3">
														<li><a href="company_history.html" ><span>MT4/MT5搭建</span></a>
															<ul class="navi-level-3">
																<li><a href="company_history_2.html" ><span>test1</span></a></li>
																<li><a href="company_history_2.html" ><span>test2</span></a></li>
																<li><a href="company_history_2.html" ><span>test3</span></a></li>
																<li><a href="company_history_2.html" ><span>test4</span></a></li>
															</ul>
														</li>
														<li><a href="company_history_2.html" ><span>金融產品交易系統</span></a></li>
														<li><a href="company_history_2.html" ><span>加密數字貨幣</span></a></li>
														<li><a href="company_history_2.html" ><span>社交</span></a></li>
													</ul>
												</li>

												<li><a href="company_history.html" ><span>交易插件</span></a>
													<ul class="navi-level-3">
														<li><a href="company_history.html" ><span>跟單系統</span></a></li>
														<li><a href="company_history_2.html" ><span>程式交易策略組建平台</span></a></li>
													</ul>
												</li>
												<li><a href="about.html" ><span>元宇宙(WEBS)</span></a>
													<ul class="navi-level-3">
														<li><a href="about.html" ><span>NFT企業級平台建設</span></a></li>
														<li><a href="about_2.html" ><span>GameFiF企業級平台建設</span></a></li>
														
														
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<a href="company_history">服務體系 </a>
											<ul class="navi-level-2">
												<li ><a  href="company_history">搭建配置服務</a><ul class="navi-level-3">
														<li ><a  href="company_history">海外公司註冊</a></li>
														<li ><a  href="company_history">金融牌照申請</a></li>
														<li ><a  href="single_services_3.html">金融網站建設</a></li>
													</ul>
												</li>
												<li ><a  href="single_services.html">運營推廣</a>
													<ul class="navi-level-3">
														<li ><a  href="single_services.html">CRM運維</a></li>
														<li ><a  href="single_services_2.html">綜合代理返佣系統</a></li>
														<li ><a  href="single_services_3.html">廣告精準投放</a></li>
													</ul>
												</li>
												<li ><a  href="single_services.html">資管服務</a>
													<ul class="navi-level-3">
														<li ><a  href="single_services.html">算法跟單</a></li>
														<li ><a  href="single_services_2.html">量化策略優化</a></li>
														<li ><a  href="single_services_3.html">加密數字貨幣策略</a></li>
													</ul>
												</li>
											</ul>
										</li>
									
										<li>
											<a href="about_4">關於我們</a>
									
										</li>
										<li><a href="contact">聯絡我們</a><ul class="navi-level-2">
										
												<li ><a  href="contact">中國大陸辦事處</a></li>
												<li ><a  href="checkout.html">中國台灣辦事處</a></li>
												<li ><a  href="cart.html">法國巴黎辦事處</a></li>
											</ul>
										</li>
										<li><a href="branches">加入我們</a></li>
									</ul>
								</nav>
						
					</div>
				</div>
				<!-- /nav -->
			</header>
			<!-- /End Header 1 Warp -->
			<!-- Slider -->
			<section id="slider" class="no-padding">
				<div id="slide_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
					<!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
					<div id="slider_4" class="rev_slider fullwidthabanner slider-home4" style="display:none;" data-version="5.0.7">
						<ul>
							<!-- SLIDE  -->
							<li data-title="FOCUS ON">
								<!-- MAIN IMAGE -->
								<img src="http://placehold.it/1920x650/ccc.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 0 -->
								<div class="tp-caption tp-resizeme" 
									 data-x="left" data-hoffset="" 
									 data-y="bottom" data-voffset=""
									 data-width="['580','580','580','auto']" 
									data-transform_idle="o:1;"
									data-transform_in="x:550px;opacity:0;s:800;e:Power3.easeOut;" 
								 	data-transform_out="x:300px;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;opacity:0;" 
									data-start="1000" 
									data-responsive_offset="on" 
									><img src="http://placehold.it/547x600/ccc.jpg" class="img-responsive hidden-sm hidden-xs" alt="Image">
								</div>
								<!-- LAYER NR. 1 -->
								<div class="tp-caption tp-resizeme sl-s6" 
									 data-x="['center','left','left','left']" data-hoffset="['240','0','0','0']"
									 data-y="top" data-voffset="200"
									 data-width="['480','480','400','300']" 
									data-transform_idle="o:1;"
									data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" 
								 	data-transform_out="x:300px;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;opacity:0;" 
									data-start="1500" 
									data-whitespace="['normal','normal','normal','normal']"
									data-fontsize="['70','70','60','40']" 
									data-lineheight="['80','80','70','50']"
									data-responsive_offset="on" 
									><p>THOUGHT LEADERSHIP</p>
								</div>
								<!-- LAYER NR. 2 -->
								<div class="tp-caption tp-resizeme sl-s3" 
									data-x="['center','left','left','left']" data-hoffset="['240','0','0','0']"
									 data-y="center" data-voffset="['60','60','30','-10']"
								 	data-width="['480','480','400','300']"
									data-transform_idle="o:1;"
									data-whitespace="normal"
									data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" 
								 	data-transform_out="x:300px;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;opacity:0;" 
									data-start="1900" 
									data-responsive_offset="on" 
									><p >Moving forward you will be paired with a highly vetted, professional awal bookkeeper who will get to know.</p>
								</div>
								<!-- LAYER NR. 3 -->
								<div class="tp-caption" 
									 data-x="['center','left','left','left']" data-hoffset="['65','0','0','0']"
									 data-y="bottom" data-voffset="['180','180','200','240']"
									data-transform_idle="o:1;"
									data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" 
								 	data-transform_out="x:300px;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;opacity:0;" 
									data-start="2100" 
									><a href="#" class="sl-btn-3">Learn More</a>
								</div>
								<!-- LAYER NR. 4 -->
								<div class="tp-caption" 
									 data-x="['center','left','left','left']" data-hoffset="['195','135','135','135']"
									 data-y="bottom" data-voffset="['180','180','200','240']"
									data-transform_idle="o:1;"
								 	data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" 
								 	data-transform_out="x:300px;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;opacity:0;" 
									data-start="2300" 
									><a href="#" class="sl-btn-2">Get a Quote</a>
								</div>
							</li>
							<!-- SLIDE  -->
							<li data-title="FOCUS ON">
								<!-- MAIN IMAGE -->
								<img src="http://placehold.it/1920x650/ccc.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 0 -->
								<div class="tp-caption tp-resizeme" 
									 data-x="left" data-hoffset="" 
									 data-y="bottom" data-voffset=""
									 data-width="['580','580','580','auto']" 
									data-transform_idle="o:1;"
									data-transform_in="x:550px;opacity:0;s:800;e:Power3.easeOut;" 
								 	data-transform_out="x:300px;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;opacity:0;" 
									data-start="1000" 
									data-responsive_offset="on" 
									><img src="http://placehold.it/547x600/ccc.jpg" class="img-responsive hidden-sm hidden-xs" alt="Image">
								</div>
								<!-- LAYER NR. 1 -->
								<div class="tp-caption tp-resizeme sl-s6" 
									 data-x="['center','left','left','left']" data-hoffset="['240','0','0','0']"
									 data-y="top" data-voffset="200"
									 data-width="['480','480','400','300']" 
									data-transform_idle="o:1;"
									data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" 
								 	data-transform_out="x:300px;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;opacity:0;" 
									data-start="1500" 
									data-whitespace="['normal','normal','normal','normal']"
									data-fontsize="['70','70','60','40']" 
									data-lineheight="['80','80','70','50']"
									data-responsive_offset="on" 
									><p>全球領先的金融科技服務商</p>
								</div>
								<!-- LAYER NR. 2 -->
								<div class="tp-caption tp-resizeme sl-s3" 
									data-x="['center','left','left','left']" data-hoffset="['240','0','0','0']"
									 data-y="center" data-voffset="['60','60','30','-10']"
								 	data-width="['480','480','400','300']"
									data-transform_idle="o:1;"
									data-whitespace="normal"
									data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" 
								 	data-transform_out="x:300px;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;opacity:0;" 
									data-start="1900" 
									data-responsive_offset="on" 
									><p >歐洲、亞太服務團隊，服務器權海外部屬專線傳輸</p>
								</div>
								<!-- LAYER NR. 3 -->
								<div class="tp-caption" 
									 data-x="['center','left','left','left']" data-hoffset="['65','0','0','0']"
									 data-y="bottom" data-voffset="['180','180','200','240']"
									data-transform_idle="o:1;"
									data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" 
								 	data-transform_out="x:300px;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;opacity:0;" 
									data-start="2100" 
									><a href="#" class="sl-btn-3">Learn More</a>
								</div>
								<!-- LAYER NR. 4 -->
								<div class="tp-caption" 
									 data-x="['center','left','left','left']" data-hoffset="['195','135','135','135']"
									 data-y="bottom" data-voffset="['180','180','200','240']"
									data-transform_idle="o:1;"
								 	data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" 
								 	data-transform_out="x:300px;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;opacity:0;" 
									data-start="2300" 
									><a href="#" class="sl-btn-2">Get a Quote</a>
								</div>
							</li>
							<!-- SLIDE  -->
							<li data-title="FOCUS ON">
								<!-- MAIN IMAGE -->
								<img src="http://placehold.it/1920x650/ccc.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 0 -->
								<div class="tp-caption tp-resizeme" 
									 data-x="left" data-hoffset="" 
									 data-y="bottom" data-voffset=""
									 data-width="['580','580','580','auto']" 
									data-transform_idle="o:1;"
									data-transform_in="x:550px;opacity:0;s:800;e:Power3.easeOut;" 
								 	data-transform_out="x:300px;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;opacity:0;" 
									data-start="1000" 
									data-responsive_offset="on" 
									><img src="http://placehold.it/566x566/ccc.jpg" class="img-responsive hidden-sm hidden-xs" alt="Image">
								</div>
								<!-- LAYER NR. 1 -->
								<div class="tp-caption tp-resizeme sl-s6" 
									 data-x="['center','left','left','left']" data-hoffset="['240','0','0','0']"
									 data-y="top" data-voffset="200"
									 data-width="['480','480','400','300']" 
									data-transform_idle="o:1;"
									data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" 
								 	data-transform_out="x:300px;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;opacity:0;" 
									data-start="1500" 
									data-whitespace="['normal','normal','normal','normal']"
									data-fontsize="['70','70','60','40']" 
									data-lineheight="['80','80','70','50']"
									data-responsive_offset="on" 
									><p>THOUGHT LEADERSHIP</p>
								</div>
								<!-- LAYER NR. 2 -->
								<div class="tp-caption tp-resizeme sl-s3" 
									data-x="['center','left','left','left']" data-hoffset="['240','0','0','0']"
									 data-y="center" data-voffset="['60','60','30','-10']"
								 	data-width="['480','480','400','300']"
									data-transform_idle="o:1;"
									data-whitespace="normal"
									data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" 
								 	data-transform_out="x:300px;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;opacity:0;" 
									data-start="1900" 
									data-responsive_offset="on" 
									><p >Moving forward you will be paired with a highly vetted, professional awal bookkeeper who will get to know.</p>
								</div>
								<!-- LAYER NR. 3 -->
								<div class="tp-caption" 
									 data-x="['center','left','left','left']" data-hoffset="['65','0','0','0']"
									 data-y="bottom" data-voffset="['180','180','200','240']"
									data-transform_idle="o:1;"
									data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" 
								 	data-transform_out="x:300px;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;opacity:0;" 
									data-start="2100" 
									><a href="#" class="sl-btn-3">Learn More</a>
								</div>
								<!-- LAYER NR. 4 -->
								<div class="tp-caption" 
									 data-x="['center','left','left','left']" data-hoffset="['195','135','135','135']"
									 data-y="bottom" data-voffset="['180','180','200','240']"
									data-transform_idle="o:1;"
								 	data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" 
								 	data-transform_out="x:300px;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;opacity:0;" 
									data-start="2300" 
									><a href="#" class="sl-btn-2">Get a Quote</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<!-- /Slider -->

			<section class="no-padding">
				<div class="iconbox-h4-warp">
					<div class="iconbox-type-sm bg-lighten-grey iconbox-overlay-bg text-center">
						<span class="lnr lnr-pie-chart"></span>
						<h4>快速搭建部屬</h4>
						<p>系統功能模組化部屬，智能擴容，滿足百萬級用在線，資金管理更加安全，系統運行更加穩定</p>
						<p>國際專業數據</p>
						<p>架設國際數據專線通道，數據從源頭獲取，實時提供報價信息，250+種可交易品種，光纖傳輸。</p>
						<p>支付通道訂製</p>
						<p>三方支付通道，銀行通道訂製</p>
						<p>資金結算系統</p>
						<p>滿足百萬級用戶資金結算能力</p>
						<p>撮合交易系統</p>
						<p>按照價格，時間優先電子撮合</p>
						<p>交易中心配套</p>
						<p>為交易所提供電子交易系統</p>
						<p>&nbsp</p>
						<a href="#" class="ot-btn btn-border-main-color">Learn More</a>
					</div>
					<div class="iconbox-type-sm bg-lighten-grey iconbox-overlay-bg text-center">
						<span class="lnr lnr-calendar-full"></span>
						<h4>豐富運營工具</h4>
						<p>輔助平台商快速建立市場推廣渠道，增大客戶和交易量，提高代理商、客戶的平台黏著度。</p>
						<p>綜合代理反傭系統</p>
						<p>經紀商拓展市場最重要工具，支持多層級反傭激勵，層級關係清晰，金額設置靈活，自動結算傭金。</p>
						<p>在線跟單系統</p>
						<p>在線直播室</p>
						<p>視頻直播、財經日曆、實時行情播報</p>
						<p>搜尋引擎管理</p>
						<p>更有效率，更有持續性的優化搜尋引擎</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<a href="#" class="ot-btn btn-border-main-color">Learn More</a>
					</div>
					<div class="iconbox-type-sm bg-lighten-grey iconbox-overlay-bg text-center">
						<span class="lnr lnr-briefcase"></span>
						<h4>全面風險管控</h4>
						<p>對系統可能發生的風險提前設置風險管控策略，以預防為主，實時風險管控、預警、處理執行。</p>
						<p>Fix清算橋</p>
						<p>橋接全球15大流動性供應商</p>
						<p>風險插件定制</p>
						<p>服務器維運</p>
						<p>負載均衡，數據備份，易維護</p>
						<p>風險管理系統</p>
						<p>提供全面、專有和多維的風險分析和管理系統</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<a href="#" class="ot-btn btn-border-main-color">Learn More</a>
					</div>
					<div class="iconbox-type-sm bg-lighten-grey iconbox-overlay-bg text-center">
						<span class="lnr lnr-layers"></span> 
						<h4>Web3.0</h4>
						<p>容易上手的區塊鏈自動化服務</p>
						<p>NFT程序</p>
						<p>輕鬆構見您的NFT應用程序</p>
						<p>GameFi程序</p>
						<p>經濟的GameFi解程序開發</p>
						<p>區塊鏈解決方案</p>
						<p>安全且能輕鬆上手的SaS區塊鏈解決方案</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						
						
						<a href="#" class="ot-btn btn-border-main-color">Learn More</a>
					</div>
					<div class="iconbox-type-sm bg-lighten-grey iconbox-overlay-bg text-center">
						
						<h4>一站全套服務</h4>
						<p>24小時技術服務支持，秉承嚴謹，高校，專業的服務宗旨，打造國際一流品牌服務形象。</p>
						<p>從前期項目諮詢到後續設計、定制開發、平台部屬、培訓等全方位"一站式"服務提供</p>
						<p>海外公司註冊</p>
						<p>協助客戶註冊海外公司事宜</p>
						<p>金融牌照申請</p>
						<p>塞浦路斯、伯利茲、新加坡等</p>
						<p>金融網站建設</p>
						<p>網上宣傳、在線開戶、出入金</p>
						<p>金融培訓服務</p>
						<p>風控培訓、平台管理培訓等</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						<p>&nbsp</p>
						
						
						
						<a href="#" class="ot-btn btn-border-main-color">Learn More</a>
					</div>
				
				</div>
			</section>
			<!-- /Iconbox -->

			<section class="bg-strategy-h4">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="strategy-warp-h4">
								<div class="title-block text-center">
									<span class="top-title"></span>
									<h2>更完善的產品體系 為你提供最佳金融方案</h2>
									<p class="sub-title">困頓科技中心發散</p>
									<span class="bottom-title"></span>
								</div>
								<p class="demo-sub-about-text-4">Temporibus autem quibusdam et aut officiis debitis is aut rerum necessitatibus saepes eveniet ut etes seo lage voluptates repudiandae sint et molestiae non mes  for Creating  futures through building pres preservation.</p>
								<div class="col-md-4">
									<div class="iconbox text-center">
										<span class="icon icon-pie-chart"></span>
										<h4>OTC交易系統</h4>
										<p>MT8交易所系統、MT5中小經紀商系統(白標)、移動交易系統(微信、Facebook)、二元期權交易系統</p>
									</div>
									<div class="iconbox text-center no-mgb">
										<span class="icon icon-library"></span>
										<h4>加密貨幣交易所系統</h4>
										<p>數字貨幣發行、貨幣交易、數字貨幣發售、配售、認購模式、合約交易、礦機產品發售、智能圖表</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="iconbox text-center">
										<span class="icon icon-coin-dollar"></span>
										<h4>加密貨幣錢包和支付系統</h4>
										<p>制定版錢包系統、快捷虛擬幣、對接承兌商</p>
									</div>
									<div class="iconbox text-center no-mgb">
										<span class="icon icon-user-tie"></span>
										<h4>社交網絡</h4>
										<p>聊天軟件建設、直播軟件建設</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="iconbox text-center">
										<span class="icon icon-stats-bars2"></span>
										<h4>交易插件</h4>
										<p>跟單系統、量化策略優化</p>
									</div>
									<div class="iconbox text-center no-mbg">
										<span class="icon icon-trophy"></span>
										<h4>元宇宙</h4>
										<p>NFT企業級平台建設、GameFi企業級平台建設</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /strategy -->

			

			<section class="no-padding">
				<div class="cb-warp-h2 ">
					<div class="col-md-6 image-container">
						<div class="background-image" style="background: url(http://placehold.it/1280x570/ccc.jpg) ;"></div>
					</div>
					<div class="col-md-6 image-container image-container-right">
						<div class="background-image" style="background:#fff"></div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="whyus-warp-h4">
									<div class="title-block title-pd whyus-content-h4">
										<span class="top-title "></span>
										<h2>為什麼選擇Protex?</h2>
										<p class="sub-title">Our financial advisers always help you</p>
										<span class="bottom-title"></span>
									</div>
									<!-- <p class="demo-sub-about-text-3">-->
									<p class="demo-sub-about-text-3">
										我們更懂<span>經紀商</span> 的真正 <span>需求</span>
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="whyus-content-h4">
									<p>14年匠心打造5大Solution產品體系，助力卷商高效展開市場業務</p>
									<p>經紀商/代理解決方案</p>
									<p>為經紀商(交易所)提供機構、客戶運營以及業務經營管理、經營結果分析等經營業務</p>
									<p>運營管理功能</p>
							
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Why Us -->
			
			<section class="no-padding bg-counter-h1" >
				<div class="container">
					<div class="row">
						<div class="counter-inline">
							<div class="whitecolor">
							</p>
							<h2>全球500+頂級經紀商的共同選擇(困頓科技)</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="warp-counter">
							<div class="col-md-3 col-sm-6">
								<div class="counter-inline">
									<span class="icon icon-stats-bars"></span>
									<span >15年經驗</span>
									
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="counter-inline">
									<span class="icon icon-users"></span>
									<span >7天搭建</span>
									
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="counter-inline">
									<span class="icon icon-trophy"></span>
									<span >24小時服務</span>
									
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="counter-inline">
									<span class="icon icon-library"></span>
									<span >100%服務</span>
									
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</section>
			
			

			<section class="bg-light-grey">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div id="partner-h2" class="owl-partner-h2">
								<div class="item-partner" >
									<a href="#"><img src="http://placehold.it/269x160/ccc.jpg" class="img-responsive partner-img" alt="Image"></a>							
								</div>
								<div class="item-partner" >
									<a href="#"><img src="http://placehold.it/269x160/ccc.jpg" class="img-responsive partner-img" alt="Image"></a>							
								</div>
								<div class="item-partner" >
									<a href="#"><img src="http://placehold.it/269x160/ccc.jpg" class="img-responsive partner-img" alt="Image"></a>							
								</div>
								<div class="item-partner" >
									<a href="#"><img src="http://placehold.it/269x160/ccc.jpg" class="img-responsive partner-img" alt="Image"></a>							
								</div>
								<div class="item-partner" >
									<a href="#"><img src="http://placehold.it/269x160/ccc.jpg" class="img-responsive partner-img" alt="Image"></a>							
								</div>
								<div class="item-partner" >
									<a href="#"><img src="http://placehold.it/269x160/ccc.jpg" class="img-responsive partner-img" alt="Image"></a>							
								</div>
								<div class="item-partner" >
									<a href="#"><img src="http://placehold.it/269x160/ccc.jpg" class="img-responsive partner-img" alt="Image"></a>							
								</div>
								<div class="item-partner" >
									<a href="#"><img src="http://placehold.it/269x160/ccc.jpg" class="img-responsive partner-img" alt="Image"></a>							
								</div>
								<div class="item-partner" >
									<a href="#"><img src="http://placehold.it/269x160/ccc.jpg" class="img-responsive partner-img" alt="Image"></a>							
								</div>
								<div class="item-partner" >
									<a href="#"><img src="http://placehold.it/269x160/ccc.jpg" class="img-responsive partner-img" alt="Image"></a>							
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Partner -->

			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="title-block text-center">
								<span class="top-title"></span>
								<h2>Our Team</h2>
								<p class="sub-title">As always, partners grows with you!</p>
								<span class="bottom-title"></span>
							</div>
							<div class="warp-full-width team-h4-warp">
								<div id="team" class="owl-team owl-team-h4">
									<div class="item-team">
										<img src="http://placehold.it/269x265/ccc.jpg" class="img-responsive" alt="Image">
										<div class="body-team">
											<h4>Fatma Mahmoud</h4>
											<p>Financial advisor</p>
										</div>
										<div class="footer-team">
											<a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
											<a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
											<a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
											<a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="item-team">
										<img src="http://placehold.it/269x265/ccc.jpg" class="img-responsive" alt="Image">
										<div class="body-team">
											<h4>Ahmed Magdy</h4>
											<p>LOANS advisor</p>
										</div>
										<div class="footer-team">
											<a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
											<a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
											<a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
											<a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
										</div>
									</div>	
									<div class="item-team">
										<img src="http://placehold.it/269x265/ccc.jpg" class="img-responsive" alt="Image">
										<div class="body-team">
											<h4>Amany Abody</h4>
											<p>BONDS advisor</p>
										</div>
										<div class="footer-team">
											<a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
											<a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
											<a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
											<a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="item-team">
										<img src="http://placehold.it/269x265/ccc.jpg" class="img-responsive" alt="Image">
										<div class="body-team">
											<h4>Ali Mahmoud</h4>
											<p>Financial advisor</p>
										</div>
										<div class="footer-team">
											<a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
											<a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
											<a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
											<a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
										</div>
									</div>	
									<div class="item-team">
										<img src="http://placehold.it/269x265/ccc.jpg" class="img-responsive" alt="Image">
										<div class="body-team">
											<h4>Fatma Mahmoud</h4>
											<p>Financial advisor</p>
										</div>
										<div class="footer-team">
											<a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
											<a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
											<a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
											<a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="item-team">
										<img src="http://placehold.it/269x265/ccc.jpg" class="img-responsive" alt="Image">
										<div class="body-team">
											<h4>Ahmed Magdy</h4>
											<p>LOANS advisor</p>
										</div>
										<div class="footer-team">
											<a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
											<a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
											<a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
											<a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
										</div>
									</div>	
									<div class="item-team">
										<img src="http://placehold.it/269x265/ccc.jpg" class="img-responsive" alt="Image">
										<div class="body-team">
											<h4>Amany Abody</h4>
											<p>BONDS advisor</p>
										</div>
										<div class="footer-team">
											<a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
											<a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
											<a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
											<a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="item-team">
										<img src="http://placehold.it/269x265/ccc.jpg" class="img-responsive" alt="Image">
										<div class="body-team">
											<h4>Ali Mahmoud</h4>
											<p>Financial advisor</p>
										</div>
										<div class="footer-team">
											<a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
											<a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
											<a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
										</div>
									</div>	
									<div class="item-team">
										<img src="http://placehold.it/269x265/ccc.jpg" class="img-responsive" alt="Image">
										<div class="body-team">
											<h4>Ali Mahmoud</h4>
											<p>Financial advisor</p>
										</div>
										<div class="footer-team">
											<a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
											<a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
											<a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
											<a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
										</div>
									</div>								
								</div>

								<div class="customNavigation">
					                <a class="btn-2 prev-team prev-team-h4"><i class="fa fa-angle-left"></i></a>
					                <a class="btn-2 next-team next-team-h4"><i class="fa fa-angle-right"></i></a>
					        	</div><!-- End owl button -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Team -->

			<section class="no-padding">
				<div class="cb-warp-h4">
					<div class="col-md-6 image-container">
						<div class="background-image" style="background:#f3f3f3"></div>
					</div>
					<div class="col-md-6 image-container image-container-right">
						<div class="background-image" style="background:#f9f9f9"></div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="faq-warp">
									<div class="title-block title-pd">
										<span class="top-title "></span>
										<h2>Faqs</h2>
										<p class="sub-title">You Ask, We Answer</p>
										<span class="bottom-title"></span>
									</div>
								  	<div class="panel-group accordion-1" id="accordion">
										  <div class="panel panel-default">
											    <div class="panel-heading">
											      <h4 class="panel-title">
											        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
											          Can i collect Social Security if I still have a job?
											        </a>
											      </h4>
											    </div>
											    <div id="collapseOne" class="panel-collapse collapse">
											      <div class="panel-body">
											        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non 
											      </div>
											    </div>
										  </div>
										  <div class="panel panel-default">
											    <div class="panel-heading">
											      <h4 class="panel-title">
											        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
											          Do tax brackets include Social Security?
											        </a>
											      </h4>
											    </div>
											    <div id="collapseTwo" class="panel-collapse collapse">
											      <div class="panel-body">
											        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
											      </div>
											    </div>
										  </div>
										  <div class="panel panel-default">
											    <div class="panel-heading">
											      <h4 class="panel-title">
											        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
											          Are student loans amortized?
											        </a>
											      </h4>
											    </div>
											    <div id="collapseThree" class="panel-collapse collapse in">
											      <div class="panel-body">
											        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
											      </div>
											    </div>
										  </div>
										   <div class="panel panel-default">
											    <div class="panel-heading">
											      <h4 class="panel-title">
											        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseF">
											          Can Direct Consolidation Loans be deferred?
											        </a>
											      </h4>
											    </div>
											    <div id="collapseF" class="panel-collapse collapse">
											      <div class="panel-body">
											        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
											      </div>
											    </div>
										  </div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="callback-warp cb-warp-h4-inner">
									<div class="title-block title-pd">
										<span class="top-title "></span>
										<h2>Request a Call Back</h2>
										<p class="sub-title">Our financial advisers always help you</p>
										<span class="bottom-title"></span>
									</div>

									<div class="form-cb-warp">
										<form class="cb-form">
											<div class="form-group">
												<input type="text" class="form-control" id="name" placeholder="Your Name*">
											</div>

											<select class="cb">
												<option value="">I would like to discuss</option>
												<option>Strategic Decision Making</option>
												<option>International Finance Resources</option>
												<option>Hedging & Risk Management</option>
												<option>International Capital Markets</option>
												<option>Foreign Exchange Markets</option>
												<option>International Finance & Global Markets</option>
												<option>International Finance Tutorial</option>
											</select>

											<div class="form-group">
												<input type="email" class="form-control"   placeholder="Your Email*">
											</div>
											<div class="form-group">
												<input type="text" class="form-control" id="phone" placeholder="Your Phone Number*">
											</div>
											
											<button type="submit" class="btn-main-color"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
										</form>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Call back -->

			<section class="bg-location-h4 padding-lg">
				<div class="container">
					<div class="row">
						<div class="warp-full-width offer-h2-warp">
									<div id="location-h4" class="owl-location-h4">
										<div class="item-locaition" >
											<h3>Miami Office</h3>
											<div class="inner-location">
												<p><i class="fa fa-map-marker" aria-hidden="true"></i>Pellentesque habitant morbi tristique senectus et netus et malesuada </p>
												<p><i class="fa fa-phone" aria-hidden="true"></i>+1 1234-456-789</p>
												<p><i class="fa fa-envelope-square" aria-hidden="true"></i>admin@amwal.com</p>
											</div>
										</div>
										<div class="item-locaition" >
											<h3>Florida Office</h3>
											<div class="inner-location">
												<p><i class="fa fa-map-marker" aria-hidden="true"></i>Pellentesque habitant morbi tristique senectus et netus et malesuada </p>
												<p><i class="fa fa-phone" aria-hidden="true"></i>+1 1234-456-789</p>
												<p><i class="fa fa-envelope-square" aria-hidden="true"></i>admin@amwal.com</p>
											</div>
										</div>
										<div class="item-locaition" >
											<h3>Illinois Office</h3>
											<div class="inner-location">
												<p><i class="fa fa-map-marker" aria-hidden="true"></i>Pellentesque habitant morbi tristique senectus et netus et malesuada </p>
												<p><i class="fa fa-phone" aria-hidden="true"></i>+1 1234-456-789</p>
												<p><i class="fa fa-envelope-square" aria-hidden="true"></i>admin@amwal.com</p>
											</div>
										</div>
										<div class="item-locaition" >
											<h3>New York Office</h3>
											<div class="inner-location">
												<p><i class="fa fa-map-marker" aria-hidden="true"></i>Pellentesque habitant morbi tristique senectus et netus et malesuada </p>
												<p><i class="fa fa-phone" aria-hidden="true"></i>+1 1234-456-789</p>
												<p><i class="fa fa-envelope-square" aria-hidden="true"></i>admin@amwal.com</p>
											</div>
										</div>
										<div class="item-locaition" >
											<h3>Los Angeles Office</h3>
											<div class="inner-location">
												<p><i class="fa fa-map-marker" aria-hidden="true"></i>Pellentesque habitant morbi tristique senectus et netus et malesuada </p>
												<p><i class="fa fa-phone" aria-hidden="true"></i>+1 1234-456-789</p>
												<p><i class="fa fa-envelope-square" aria-hidden="true"></i>admin@amwal.com</p>
											</div>
										</div>
										<div class="item-locaition" >
											<h3>Chicago Office</h3>
											<div class="inner-location">
												<p><i class="fa fa-map-marker" aria-hidden="true"></i>Pellentesque habitant morbi tristique senectus et netus et malesuada </p>
												<p><i class="fa fa-phone" aria-hidden="true"></i>+1 1234-456-789</p>
												<p><i class="fa fa-envelope-square" aria-hidden="true"></i>admin@amwal.com</p>
											</div>
										</div>
										<div class="item-locaition" >
											<h3>Houston Office</h3>
											<div class="inner-location">
												<p><i class="fa fa-map-marker" aria-hidden="true"></i>Pellentesque habitant morbi tristique senectus et netus et malesuada </p>
												<p><i class="fa fa-phone" aria-hidden="true"></i>+1 1234-456-789</p>
												<p><i class="fa fa-envelope-square" aria-hidden="true"></i>admin@amwal.com</p>
											</div>
										</div>
										<div class="item-locaition" >
											<h3>Philadelphia Office</h3>
											<div class="inner-location">
												<p><i class="fa fa-map-marker" aria-hidden="true"></i>Pellentesque habitant morbi tristique senectus et netus et malesuada </p>
												<p><i class="fa fa-phone" aria-hidden="true"></i>+1 1234-456-789</p>
												<p><i class="fa fa-envelope-square" aria-hidden="true"></i>admin@amwal.com</p>
											</div>
										</div>
										<div class="item-locaition" >
											<h3>Phoenix Office</h3>
											<div class="inner-location">
												<p><i class="fa fa-map-marker" aria-hidden="true"></i>Pellentesque habitant morbi tristique senectus et netus et malesuada </p>
												<p><i class="fa fa-phone" aria-hidden="true"></i>+1 1234-456-789</p>
												<p><i class="fa fa-envelope-square" aria-hidden="true"></i>admin@amwal.com</p>
											</div>
										</div>
										<div class="item-locaition" >
											<h3>San Antonio Office</h3>
											<div class="inner-location">
												<p><i class="fa fa-map-marker" aria-hidden="true"></i>Pellentesque habitant morbi tristique senectus et netus et malesuada </p>
												<p><i class="fa fa-phone" aria-hidden="true"></i>+1 1234-456-789</p>
												<p><i class="fa fa-envelope-square" aria-hidden="true"></i>admin@amwal.com</p>
											</div>
										</div>
																				<div class="item-locaition" >
											<h3>Los Angeles Office</h3>
											<div class="inner-location">
												<p><i class="fa fa-map-marker" aria-hidden="true"></i>Pellentesque habitant morbi tristique senectus et netus et malesuada </p>
												<p><i class="fa fa-phone" aria-hidden="true"></i>+1 1234-456-789</p>
												<p><i class="fa fa-envelope-square" aria-hidden="true"></i>admin@amwal.com</p>
											</div>
										</div>
										<div class="item-locaition" >
											<h3>Chicago Office</h3>
											<div class="inner-location">
												<p><i class="fa fa-map-marker" aria-hidden="true"></i>Pellentesque habitant morbi tristique senectus et netus et malesuada </p>
												<p><i class="fa fa-phone" aria-hidden="true"></i>+1 1234-456-789</p>
												<p><i class="fa fa-envelope-square" aria-hidden="true"></i>admin@amwal.com</p>
											</div>
										</div>
										<div class="item-locaition" >
											<h3>Houston Office</h3>
											<div class="inner-location">
												<p><i class="fa fa-map-marker" aria-hidden="true"></i>Pellentesque habitant morbi tristique senectus et netus et malesuada </p>
												<p><i class="fa fa-phone" aria-hidden="true"></i>+1 1234-456-789</p>
												<p><i class="fa fa-envelope-square" aria-hidden="true"></i>admin@amwal.com</p>
											</div>
										</div>
									</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /location Owl -->

			<section>
				<div class="social-inner social-inner-h2 social-inner-h4">
					<div class="container">
						<div class="col-md-8 col-md-offset-2">
						<img src="http://placehold.it/151x38/ccc.jpg" class="img-responsive" alt="Image">
						<p>Temporibus autem quibusdam et aut officiis debitis is aut rerum necessitatibus saepes eveniet ut et seo lage voluptates repudiandae sint et molestiae non mes  for Creating  futures through building preservation. </p>
						<ul class="widget widget-footer widget-footer-social-1 social-hover-defaul">
							<li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a class="flickr" href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
						</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- /Social -->

			<!-- Footer -->
			<footer class="f-bg-img cr-inner">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-icon-link">
								<div class="title-block title-on-dark title-xs">
									<h4>Head Office</h4>
									<span class="bottom-title"></span>
								</div>

								<ul class="icon-link-list-icon">
									<li><i class="fa fa-map-marker" aria-hidden="true"></i>1422 Aqua blue Road St. Santa Rosa,tCA, USA.</li>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:admin@amwal.com">admin@amwal.com</a></li>
									<li><i class="fa fa-headphones" aria-hidden="true"></i> <a href="mailto:admin@amwal.com">support@amwal.com</a></li>
									<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:01008431112"> 002- 01008431112</a></li>
									<li><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:01008431112"> 002- 01008431112 </a></li>

								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-hours">
								<div class="title-block title-on-dark title-xs">
									<h4>Working Hours</h4>
									<span class="bottom-title"></span>
								</div>
								<p>We work all days a week, Please contact us for any inquiry.</p>
								<dl class="dl-horizontal dl-working-hours">
								  <dt>Monday - Friday  </dt>
								  <dd>8.00 am - 16.00 pm</dd>
								  <dt>Saturday   </dt>
								  <dd> 10.00 am - 14.00 pm </dd>
								  <dt>Sunday</dt>
								  <dd> 9.00 am - 12.00 pm</dd>
								</dl>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-list-link">
								<div class="title-block title-on-dark title-xs">
									<h4>Company Links</h4>
									<span class="bottom-title"></span>
								</div>
								<ul>
									<li><a href="#">Our History</a></li>
									<li><a href="#">Mission & Vision</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="#">Partners</a></li>
									<li><a href="#">Our Team</a></li>
									<li><a href="#">Testimonials</a></li>

								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-subcri">
								<div class="title-block title-on-dark title-xs">
									<h4>Newsletter</h4>
									<span class="bottom-title"></span>
								</div>
								<p>Subscribe to our newsletter for latest updates about our company</p>
								<form class="form-subcri-footer">
								  <div class="form-group">
								    <input type="email" class="form-control"   placeholder="Email Address">
								  </div>
								  <button type="submit" class="btn-subcri-footer">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="cr-h4">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="copyright-warp cr-2">
									<div class="copyright-text">
										<p>© 2016 Amwal - Powered By <span>Mohamed Arafa</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /copyright -->
			</footer>	
			<!-- /Footer -->

			
		</div>
		<!-- /page -->
		<a id="to-the-top" class="fixbtt bg-hover-theme"><i class="fa fa-chevron-up"></i></a> 
		<!-- Back To Top -->
		<!-- Switcher -->
		<!-- End Switcher -->
		<!-- SCRIPT -->
		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/vendor/bootstrap.js"></script>
		<!-- Sticky -->
		<script src="js/plugins/jquery.sticky-kit.min.js"></script>
		<!-- <script src="js/plugins/sticky.js"></script> -->
		<!-- Mobile Menu
			================================================== -->
		<script type="text/javascript" src="js/plugins/jquery.mmenu.all.min.js"></script>
		<script type="text/javascript" src="js/plugins/mobilemenu.js"></script>
		<!-- REVOLUTION JS FILES -->
		<script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
		<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
		<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
		<script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
		<script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
		<script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
		<script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
		<script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
		<script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
		<script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>
		<script src="js/plugins/slider-home-4.js"></script>
		<!-- Initializing Owl Carousel
			================================================== -->
		<script src="js/plugins/owl.carousel.js"></script>
		<script src="js/plugins/owl.js"></script>
		<!-- PreLoad
			================================================== --> 
		<script type="text/javascript" src="js/plugins/royal_preloader.js"></script>
		<!-- Parallax -->
		<script src="js/plugins/jquery.parallax-1.1.3.js"></script>
		<!-- <script src="js/plugins/parallax.js"></script> -->
		<!-- Fancy Select -->
		<script src="js/plugins/fancySelect.js"></script>
		<script src="js/plugins/lang-select.js"></script>
		<script src="js/plugins/cb-select.js"></script>
		<!-- Initializing Counter Up
			================================================== -->
		<script src="js/plugins/jquery.counterup.min.js"></script>
		<script src="js/plugins/counterup.js"></script>
		<!-- Global Js
			================================================== --> 
		<script src="js/plugins/template.js"></script>
		<!-- Demo Switcher
			================================================== -->
		<!-- <script src="switcher/demo.js"></script> -->
	</body>
</html>

