<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Amwal Single Services 2</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
		
		
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=devanagari,latin-ext" rel="stylesheet">
		<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="fonts/IcoMoon/icomoon.css">
		<link rel="stylesheet" href="fonts/linearicon/style.css">
		<!-- Mobile Menu -->
		<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
		<!-- OWL CAROUSEL
			================================================== --> 
		<link rel="stylesheet" href="css/owl.carousel.css">
		<!-- SELECTBOX
			================================================== -->
		<link rel="stylesheet" type="text/css" href="css/fancySelect.css" media="screen" />
		<!-- Main Style -->
		<link rel="stylesheet" href="style.css">
		
		<!-- Favicons
			================================================== -->
		<link rel="shortcut icon" href="http://placehold.it/32x32/ccc.jpg">
	</head>
	<body class="royal_loader">
		<!-- royal_loader -->
		<div id="page">
			<!-- Mobile Menu -->
			<nav id="menu">
				<ul>
					<li class="active">
						<a href="index.html">Home</a>
						<ul >
							<li ><a  href="index.html">HomePage  v1</a></li>
							<li ><a  href="index_2.html">HomePage  v2</a></li>
							<li ><a  href="index_3.html">HomePage  v3</a></li>
							<li ><a  href="index_4.html">HomePage  v4</a></li>
							<li ><a  href="index_5.html">HomePage  v5</a></li>
							<li ><a  href="index_6.html">HomePage  v6</a></li>
							<li ><a  href="index_7.html">HomePage  v7</a></li>
							<li ><a  href="index_8.html">HomePage  v8</a></li>
							<li ><a  href="index_9.html">HomePage  v9</a></li>
							<li ><a  href="index_10.html">HomePage  v10</a></li>
							<li ><a  href="index_11.html">HomePage  v11</a></li>
							<li ><a  href="index_12.html">HomePage  v12</a></li>
						</ul>
					</li>
					<li><a href="company_history.html">Company</a>
						<ul >

							<li><a href="company_history.html" ><span>Company History</span></a>
								<ul >
									<li><a href="company_history.html" ><span>Company History V1</span></a></li>
									<li><a href="company_history_2.html" ><span>Company History V2</span></a></li>
								</ul>
							</li>
							<li><a href="about.html" ><span>About</span></a>
								<ul >
									<li><a href="about.html" ><span>About Verision 1</span></a></li>
									<li><a href="about_2.html" ><span>About Verision 2</span></a></li>
									<li><a href="about_3.html" ><span>About Verision 3</span></a></li>
									<li><a href="about_4.html" ><span>About Verision 4</span></a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="services.html">Services </a>
						<ul >
							<li ><a  href="services.html">Services Page</a></li>
							<li ><a  href="single_services.html">Single Services</a>
								<ul >
									<li ><a  href="single_services.html">Single Services V1</a></li>
									<li ><a  href="single_services_2.html">Single Services V2</a></li>
									<li ><a  href="single_services_3.html">Single Services V3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="cases.html">Cases</a>
						<ul >
							<li><a href="cases.html">Cases Page</a></li>
							<li ><a  href="single_case.html">Single Cases</a></li>
						</ul>
					</li>
					<li>
						<a href="news.html">Blogs</a>
						<ul >
							<li><a href="news.html">Blog Page</a>
								<ul >
									<li><a href="news.html">Blog List Layout</a></li>
									<li><a href="news-2.html">Blog Grid Layout</a></li>
								</ul>
							</li>
							<li ><a  href="single_new.html">Single Blog</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Pages</a>
						<ul >
							
							<li ><a  href="team.html">Our Team</a>
								<ul >
									<li ><a  href="team.html">Our Team V1</a></li>
									<li ><a  href="team_2.html">Our Team V2</a></li>
									<li ><a  href="single_team.html">Team Single</a></li>
								</ul>
							</li>
							<li ><a  href="testimonials.html">Testimonials</a>
								<ul >
									<li ><a  href="testimonials.html">Testimonials V1</a></li>
									<li ><a  href="testimonials_2.html">Testimonials V2</a></li>
								</ul>
							</li>
							<li ><a  href="career.html">Career</a>
								<ul >
									<li ><a  href="career.html">Career Page</a></li>
									<li ><a  href="career_single.html">Career Single</a></li>
								</ul>
							</li>
							<li ><a  href="partners.html">Partners</a>
								<ul >
									<li ><a  href="partners.html">Partners Verision 1</a></li>
									<li ><a  href="partners_2.html">Partners Verision 2</a></li>
								</ul>
							</li>
							<li ><a  href="branches.html">Branches</a></li>
							<li ><a  href="ceo_message.html">Ceo Message</a></li>
							<li ><a  href="faq.html">FAQ Page</a></li>
							<li ><a  href="pricing.html">Pricing Page</a></li>
							<li ><a  href="my_account.html">Account Page</a></li>
							<li ><a  href="404.html">404 Page</a></li>
							<li ><a  href="comingsoon.html">Under Contruction</a></li>
							<!-- <li ><a  href="typography.html">Typography</a></li>
												<li ><a  href="element.html">Element</a></li> -->
						</ul>
					</li>
					<li>
						<a href="shop.html">Shop</a>
						<ul >
							<li> <a href="shop.html" ><span>Shop Category </span></a>
								<ul >
									<li> <a href="shop.html" ><span>Shop Category </span></a></li>
									<li> <a href="shop_2.html" ><span>Shop Sidebar </span></a></li>
								</ul>
							</li>
							<li ><a  href="single-shop.html">Shop Single</a></li>
							<li ><a  href="checkout.html">CheckOut Page</a></li>
							<li ><a  href="cart.html">Shopping Cart</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
			<!-- /Mobile Menu -->
			<header class="header-h2">
				<div class="topbar tb-dark tb-md">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="topbar-home2">
								<div class="tb-contact tb-iconbox">
									<ul>
										<li><a href="contact.html"><i class="fa fa-map-marker" aria-hidden="true"></i><span><i>Find us</i> 325 admiral unit, North cost, USA</span></a></li>
										<li><a href="mailto:admin@amwal.com"><i class="fa fa-envelope" aria-hidden="true"></i><span><i>Email us</i> admin@amwal.com</span></a></li>
										<li><a href="tel:0100123456789"><i class="fa fa-phone" aria-hidden="true"></i><span><i>Call us now</i> 0100123456789</span></a></li>
									</ul>
								</div>
								<div class="tb-social-lan language">
									<select class="lang">
										<option data-class="usa">English</option>
										<option data-class="italy">Italian</option>
										<option data-class="fr">French</option>
										<option data-class="gm">German</option>
									</select>
									<ul>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="google plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
									</ul>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /topbar -->
				<div class="nav-warp nav-warp-h2">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="navi-warp-home-2">
								<a href="index.html" class="logo"><img src="http://placehold.it/151x38/ccc.jpg" class="img-responsive" alt="Image"></a>
								<nav>
									<ul class="navi-level-1 active-subcolor">
										<li class="active">
											<a href="index.html">首頁</a>
										
										</li>
										<li><a href="single_services_2">產品</a>
											<ul class="navi-level-2">
											<li><a href="company_history.html" ><span>系統建設</span></a>
													<ul class="navi-level-3">
														<li><a href="company_history.html" ><span>MT4/MT5搭建</span></a>
															<ul class="navi-level-3">
																<li><a href="company_history_2.html" ><span>test1</span></a></li>
																<li><a href="company_history_2.html" ><span>test2</span></a></li>
																<li><a href="company_history_2.html" ><span>test3</span></a></li>
																<li><a href="company_history_2.html" ><span>test4</span></a></li>
															</ul>
														</li>
														<li><a href="company_history_2.html" ><span>金融產品交易系統</span></a></li>
														<li><a href="company_history_2.html" ><span>加密數字貨幣</span></a></li>
														<li><a href="company_history_2.html" ><span>社交</span></a></li>
													</ul>
												</li>

												<li><a href="company_history.html" ><span>交易插件</span></a>
													<ul class="navi-level-3">
														<li><a href="company_history.html" ><span>跟單系統</span></a></li>
														<li><a href="company_history_2.html" ><span>程式交易策略組建平台</span></a></li>
													</ul>
												</li>
												<li><a href="about.html" ><span>元宇宙(WEBS)</span></a>
													<ul class="navi-level-3">
														<li><a href="about.html" ><span>NFT企業級平台建設</span></a></li>
														<li><a href="about_2.html" ><span>GameFiF企業級平台建設</span></a></li>
														
														
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<a href="services.html">服務體系 </a>
											<ul class="navi-level-2">
												<li ><a  href="services.html">搭建配置服務</a><ul class="navi-level-3">
														<li ><a  href="single_services.html">海外公司註冊</a></li>
														<li ><a  href="single_services_2.html">金融牌照申請</a></li>
														<li ><a  href="single_services_3.html">金融網站建設</a></li>
													</ul>
												</li>
												<li ><a  href="single_services.html">運營推廣</a>
													<ul class="navi-level-3">
														<li ><a  href="single_services.html">CRM運維</a></li>
														<li ><a  href="single_services_2.html">綜合代理返佣系統</a></li>
														<li ><a  href="single_services_3.html">廣告精準投放</a></li>
													</ul>
												</li>
												<li ><a  href="single_services.html">資管服務</a>
													<ul class="navi-level-3">
														<li ><a  href="single_services.html">算法跟單</a></li>
														<li ><a  href="single_services_2.html">量化策略優化</a></li>
														<li ><a  href="single_services_3.html">加密數字貨幣策略</a></li>
													</ul>
												</li>
											</ul>
										</li>
									
										<li>
											<a href="about_4">關於我們</a>
									
										</li>
										<li><a href="contact">聯絡我們</a><ul class="navi-level-2">
										
												<li ><a  href="contact">中國大陸辦事處</a></li>
												<li ><a  href="checkout.html">中國台灣辦事處</a></li>
												<li ><a  href="cart.html">法國巴黎辦事處</a></li>
											</ul>
										</li>
										<li><a href="branches">加入我們</a></li>
									</ul>
								</nav>
								<ul class="subnavi">
									<li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
									<li>
										<a class="btn-search-navi" href="#/"><i class="fa fa-search" aria-hidden="true"></i></a>
										<div class="search-popup">
											<form class="form-search-navi">
												<div class="input-group">
													<input class="form-control" placeholder="Search Here" type="text">
												</div>
												<!-- /input-group -->
											</form>
										</div>
									</li>
								</ul>
								<a href="#menu" class="btn-menu-mobile"><i class="fa fa-bars" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /nav -->
			</header>
			<!-- /End Header 1 Warp -->
			
			<section class="no-padding sh-single-services">
				<div class="sub-header ">
					<span>WHAT WE DO</span>
					<h3>BONDS & COMMODITIES</h3>
					<ol class="breadcrumb">
 						<li>
 							<a href="#"><i class="fa fa-home"></i> HOME     </a>
 						</li>
 						<li>
 							<a href="#"> SERVICES     </a>
 						</li>
 						<li class="active">BONDS & COMMODITIES</li>
 					</ol>
				</div>
			</section>
			<!-- /Sub HEader -->
			
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="sideabar">
								<div class="widget widget-sidebar widget-list-link">
									<h4 class="title-widget-sidebar">
										Services
									</h4>
									<ul class="wd-list-link">
										<li><a href="single_services_2">全部產品</a></li>
										<li class="active"><a href="#">MT4/MT5搭建</a></li>
										<li><a href="single_services_3">白标租赁</a></li>
										<li><a href="single_services_4">CRM系统</a></li>
										
										
										<li class="active"><a href="#">金融产品交易系统</a></li>
										<li><a href="single_services_5">传统交易系统</a></li>
										<li><a href="single_services_6">二元期权交易系统</a></li>
										<li><a href="single_services_7">移动端交易系统</a></li>
										<li class="active"><a href="#">加密数字货币</a></li>
										<li><a href="single_services_8">加密货币交易系统</a></li>
										<li><a href="single_services_9">加密货币钱包和支付系统</a></li>

									</ul>
								</div>
								
								<div class="widget-sidebar widget widget-html">
									<div class="wd-html-block">
										<a href="#">
											<img src="http://placehold.it/269x180/ccc.jpg" class="img-responsive" alt="Image">
										</a>
										<div class="content-wd-html-inner">
											<span>联系我们</span>
											<p>
												Telegram马上沟通!
											</p>
										</div>
										<a href="#" class="ot-btn btn-sub-color" >
											Start
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-9">
						
						<div class="services-2-detail-warp">
								<div class="row">
									<div class="col-md-12">
										<div class="title-block title-contact2">
											<h3>加密数字货币</h3>
											<span class="bottom-title"></span>
										</div>
									</div>
									<div class="col-md-12">
										<div class="iconbox">
											<span class="icon icon-briefcase"></span>
											<h4>加密货币交易系统</h4>
											<p>面向全球，提供安全、稳定且更具特色的交易所系统</p>
										</div>
									</div>
									<div class="col-md-12">
										<div class="img">
											<img src="加密货币交易所系统.png"  width="10%" height="10%">
										</div>
									</div>
									<div class="col-md-12 black-wrap">
										<h3>Protex加密货币交易所系统是专为公司、渠道、客户定制的一站式在线服务平台，提供交易系统快速搭建和业务组合推荐服务，助您快速搭建自己的交易所。</h3>
									</div>
								</div>
							</div>
								</div>
								
								<div class="col-md-12">
								<div class="row">
									<div class="box-text-case">
										<div class="col-md-2">
										<h4>数据安全无懈可击（困顿科技）</h4>
										<p>银行级用户数据加密，动态身份验证，多级风险识别控制，资金第三方托管，数据实时监控，确保资金交易安全</p>
										</div>
										<div class="col-md-2">
										<h4>流动性支持</h4>
										<p>聚合全球200多家交易所流动性，提供更高的交易深度和流动性支持，免去运营承兑商的烦恼</p>
										</div>
										<div class="col-md-2">
										<h4>快速部署，轻量化架构</h4>
										<p>B／S架构，实现信息实时推送，K线数据更新更快，行情、交易可同屏展示，实施简单</p>
										</div>
										<div class="col-md-2">
										<h4>高频交易，高并发量</h4>
										<p>高频交易撮合引擎，完全基于高频并发交易设计，稳定支持大数据量，高性能、高并发</p>
										</div>
										<div class="col-md-2">
										<h4>开放式API接口</h4>
										<p>为用户提供了一个简单又强大的API，旨在帮助用户快速高效地将加密货币交易所功能整合到自己应用当中</p>
										</div>
										<div class="col-md-2">
										<h4>全终端接入</h4>
										<p>支持PC端、手机端、网页等多终端应用，实时数据观测，随时随地快速交易</p>
										</div>
									</div>
								</div>
								</div>
								
								<div class="col-md-12">
								<div class="row">
									<div class="box-text-case">
										<div class="col-md-2">
										<h4>没有匹配收费. 没有隐藏收费（B2Broker）</h4>
										<p>您只需要支持技术支持及托管. 没有隐藏费用或交易量收费</p>
										</div>
										<div class="col-md-2">
										<h4>可定制用户介面</h4>
										<p>整个用户介面由网页插件建成. 管理员可以选择合并任何网页插件, 提供给用户或为他们建立一个默认的独有工作空间. 可定制配色及所有用户介面内的文字. 提供用户介面日间/夜间模式查看交易图表允许交易员进行详细的技术分析. 进阶用户介面甚至可满足使用最精密策略的交易员</p>
										</div>
										<div class="col-md-2">
										<h4>功能广泛的后台管理系统</h4>
										<p>我们创建了后台管理系统介面, 以维持匹配引擎的先进功能, 检查货币或相当于美元的结算, 及查看用户结余和他们的活动 您也可以监控用户支付的佣金, 计算损益, 在一个地方查看所有订单详细及角色, 进行线上交易及监控套利</p>
										</div>
										<div class="col-md-2">
										<h4>开放式API接口</h4>
										<p>B2Broker数字资产交易所提供多种功能齐全的交易网络应用程序接口(API)，涵盖关键的交易功能, 同时为不同的交易风格和客户类型提供熟悉的切入点:REST - 支持安全验证, 订单输入, 执行报告, 市场数据查询WebSocket - 支持安全验证, 订单输入, 执行报告, 市场数据查询, 市场数据客户资料订阅, 给您的客户或造市商. 连接价格流</p>
										</div>
										<div class="col-md-2">
										<h4>高效能匹配引擎</h4>
										<p>匹配引擎可以在每秒钟进行30,000个请求. 加密数字货币市场24/7全天候运作, 包括周末在内, 没有休息时段, 维护时间极短.</p>
										</div>
										<div class="col-md-2">
										<h4>与CoinMarketCap整合</h4>
										<p>您会获得5个在CoinMarketCap入驻需要的端点: 概要, 交易历史, 行情报价, 资产, 交易委托账本 (Order Book)</p>
										</div>
									</div>
								</div>
								</div>
								
								<div class="col-md-12">
								<div class="services-2-detail-warp">
								
								<div class="col-md-12 black-wrap">
									<h3>不仅提供交易平台 更能搭建高效用户管理系统（困顿科技）</h3>
								</div>
								<div class="col-md-12 black-wrap">
									<div>
									
									</div>
									<img src="用户管理系统.png"  width="100%" height="100%">
								</div>
								
								</div>
								</div>
								
								<div class="col-md-12">
								<div class="services-2-detail-warp">
								
								<div class="col-md-12 black-wrap">
									<h3>从0到1 一站式搭建（困顿科技）</h3>
								</div>
								<div class="col-md-12 ">
									<div>
									
									</div>
									<img src="一站式搭建.png"  width="100%" height="100%">
								</div>
								
								</div>
								</div>
								
								
								
							</div>
						</div>
			</section>
			
			<!-- /Subcribe -->
			<!-- Footer -->
			<footer class="f-bg-dark">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-text">
								<div class="title-block title-on-dark title-xs">
									<h4>About Amwal</h4>
									<span class="bottom-title"></span>
								</div>
								<p>The lysine contingency - it's intended to prevent the spread of the animals is case they ever got off the island. Dr. Wu inserted a gene that makes.</p>
								<ul class="widget widget-footer widget-footer-social-1">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-icon-link">
								<div class="title-block title-on-dark title-xs">
									<h4>Head Office</h4>
									<span class="bottom-title"></span>
								</div>

								<ul class="icon-link-list-icon">
									<li><i class="fa fa-map-marker" aria-hidden="true"></i>1422 Aqua blue Road St. Santa Rosa,tCA, USA.</li>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:admin@amwal.com">admin@amwal.com</a></li>
									<li><i class="fa fa-headphones" aria-hidden="true"></i> <a href="mailto:admin@amwal.com">support@amwal.com</a></li>
									<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:01008431112"> 002- 01008431112</a></li>
									<li><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:01008431112"> 002- 01008431112 </a></li>

								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-list-link">
								<div class="title-block title-on-dark title-xs">
									<h4>Company Links</h4>
									<span class="bottom-title"></span>
								</div>
								<ul>
									<li><a href="#">Our History</a></li>
									<li><a href="#">Mission & Vision</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="#">Partners</a></li>
									<li><a href="#">Our Team</a></li>
									<li><a href="#">Testimonials</a></li>

								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-img">
								<div class="title-block title-on-dark title-xs">
									<h4>Our Branches</h4>
									<span class="bottom-title"></span>
								</div>
								<img src="http://placehold.it/242x157/ccc.jpg" class="img-responsive" alt="Image">
							</div>
						</div>
					</div>
				</div>
			</footer>	
			<!-- /Footer -->

			<section class="no-padding cr-h1">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="copyright-warp cr-1">
								<div class="copyright-list-link">
									<ul>
										<li><a href="/home">Home   </a></li>
										<li><a href="/about_4">About Us  </a></li>
										<li><a href="/single_services_2">Services   </a></li>
										<li><a href="#">Our Advisors  </a></li>
										<li><a href="/contact">Contact</a></li>
									</ul>
								</div>
								<div class="copyright-text">
									<p>© 2016 Amwal - Powered By <span>Mohamed Arafa</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /copyright -->
		</div>
		<!-- /page -->
		<a id="to-the-top" class="fixbtt bg-hover-theme"><i class="fa fa-chevron-up"></i></a> 
		<!-- Back To Top -->
		<!-- Switcher -->
		<!-- End Switcher -->
		<!-- SCRIPT -->
		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/vendor/bootstrap.js"></script>
		<script src="js/plugins/jquery.waypoints.min.js"></script>
		<!-- Sticky -->
		<script src="js/plugins/jquery.sticky-kit.min.js"></script>
		<!-- <script src="js/plugins/sticky.js"></script> -->
		<!-- Mobile Menu
			================================================== -->
		<script type="text/javascript" src="js/plugins/jquery.mmenu.all.min.js"></script>
		<script type="text/javascript" src="js/plugins/mobilemenu.js"></script>
		<script src="js/plugins/owl.carousel.js"></script>
		<script src="js/plugins/owl.js"></script>
		<!-- PreLoad
			================================================== --> 
		<script type="text/javascript" src="js/plugins/royal_preloader.js"></script>
		<!-- Parallax -->
		<script src="js/plugins/jquery.parallax-1.1.3.js"></script>
		<!-- <script src="js/plugins/parallax.js"></script> -->
		<!-- Fancy Select -->
		<script src="js/plugins/fancySelect.js"></script>
		<script src="js/plugins/lang-select.js"></script>
		<!-- Chart -->
		<script src="js/plugins/custom-progressbar.js"></script>
		<script src="js/plugins/Chart.bundle.min.js"></script>
		<script>
    	</script>
		<!-- Global Js
			================================================== --> 
		<script src="js/plugins/template.js"></script>
		<!-- Demo Switcher
			================================================== -->
		<!-- <script src="switcher/demo.js"></script> -->
	</body>
</html>

