

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Amwal Company History</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="css/bootstrap.css">
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=devanagari,latin-ext" rel="stylesheet">
		<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="fonts/IcoMoon/icomoon.css">
		<link rel="stylesheet" href="fonts/linearicon/style.css">
		<!-- Mobile Menu -->
		<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
		<!-- OWL CAROUSEL
			================================================== --> 
		<link rel="stylesheet" href="css/owl.carousel.css">
		<!-- SELECTBOX
			================================================== -->
		<link rel="stylesheet" type="text/css" href="css/fancySelect.css" media="screen" />
		<!-- Main Style -->
		<link rel="stylesheet" href="style.css">
		
		<!-- Favicons
			================================================== -->
		<link rel="shortcut icon" href="http://placehold.it/32x32/ccc.jpg">
	</head>
	<body class="royal_loader">
		<!-- royal_loader -->
		<div id="page">
			<!-- Mobile Menu -->
			<nav id="menu">
				<ul>
					<li class="active">
						<a href="index.html">Home</a>
						<ul >
							<li ><a  href="index.html">HomePage  v1</a></li>
							<li ><a  href="index_2.html">HomePage  v2</a></li>
							<li ><a  href="index_3.html">HomePage  v3</a></li>
							<li ><a  href="index_4.html">HomePage  v4</a></li>
							<li ><a  href="index_5.html">HomePage  v5</a></li>
							<li ><a  href="index_6.html">HomePage  v6</a></li>
							<li ><a  href="index_7.html">HomePage  v7</a></li>
							<li ><a  href="index_8.html">HomePage  v8</a></li>
							<li ><a  href="index_9.html">HomePage  v9</a></li>
							<li ><a  href="index_10.html">HomePage  v10</a></li>
							<li ><a  href="index_11.html">HomePage  v11</a></li>
							<li ><a  href="index_12.html">HomePage  v12</a></li>
						</ul>
					</li>
					<li><a href="company_history.html">Company</a>
						<ul >

							<li><a href="company_history.html" ><span>Company History</span></a>
								<ul >
									<li><a href="company_history.html" ><span>Company History V1</span></a></li>
									<li><a href="company_history_2.html" ><span>Company History V2</span></a></li>
								</ul>
							</li>
							<li><a href="about.html" ><span>About</span></a>
								<ul >
									<li><a href="about.html" ><span>About Verision 1</span></a></li>
									<li><a href="about_2.html" ><span>About Verision 2</span></a></li>
									<li><a href="about_3.html" ><span>About Verision 3</span></a></li>
									<li><a href="about_4.html" ><span>About Verision 4</span></a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="services.html">Services </a>
						<ul >
							<li ><a  href="services.html">Services Page</a></li>
							<li ><a  href="single_services.html">Single Services</a>
								<ul >
									<li ><a  href="single_services.html">Single Services V1</a></li>
									<li ><a  href="single_services_2.html">Single Services V2</a></li>
									<li ><a  href="single_services_3.html">Single Services V3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="cases.html">Cases</a>
						<ul >
							<li><a href="cases.html">Cases Page</a></li>
							<li ><a  href="single_case.html">Single Cases</a></li>
						</ul>
					</li>
					<li>
						<a href="news.html">Blogs</a>
						<ul >
							<li><a href="news.html">Blog Page</a>
								<ul >
									<li><a href="news.html">Blog List Layout</a></li>
									<li><a href="news-2.html">Blog Grid Layout</a></li>
								</ul>
							</li>
							<li ><a  href="single_new.html">Single Blog</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Pages</a>
						<ul >
							
							<li ><a  href="team.html">Our Team</a>
								<ul >
									<li ><a  href="team.html">Our Team V1</a></li>
									<li ><a  href="team_2.html">Our Team V2</a></li>
									<li ><a  href="single_team.html">Team Single</a></li>
								</ul>
							</li>
							<li ><a  href="testimonials.html">Testimonials</a>
								<ul >
									<li ><a  href="testimonials.html">Testimonials V1</a></li>
									<li ><a  href="testimonials_2.html">Testimonials V2</a></li>
								</ul>
							</li>
							<li ><a  href="career.html">Career</a>
								<ul >
									<li ><a  href="career.html">Career Page</a></li>
									<li ><a  href="career_single.html">Career Single</a></li>
								</ul>
							</li>
							<li ><a  href="partners.html">Partners</a>
								<ul >
									<li ><a  href="partners.html">Partners Verision 1</a></li>
									<li ><a  href="partners_2.html">Partners Verision 2</a></li>
								</ul>
							</li>
							<li ><a  href="branches.html">Branches</a></li>
							<li ><a  href="ceo_message.html">Ceo Message</a></li>
							<li ><a  href="faq.html">FAQ Page</a></li>
							<li ><a  href="pricing.html">Pricing Page</a></li>
							<li ><a  href="my_account.html">Account Page</a></li>
							<li ><a  href="404.html">404 Page</a></li>
							<li ><a  href="comingsoon.html">Under Contruction</a></li>
							<!-- <li ><a  href="typography.html">Typography</a></li>
												<li ><a  href="element.html">Element</a></li> -->
						</ul>
					</li>
					<li>
						<a href="shop.html">Shop</a>
						<ul >
							<li> <a href="shop.html" ><span>Shop Category </span></a>
								<ul >
									<li> <a href="shop.html" ><span>Shop Category </span></a></li>
									<li> <a href="shop_2.html" ><span>Shop Sidebar </span></a></li>
								</ul>
							</li>
							<li ><a  href="single-shop.html">Shop Single</a></li>
							<li ><a  href="checkout.html">CheckOut Page</a></li>
							<li ><a  href="cart.html">Shopping Cart</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
			<!-- /Mobile Menu -->
			<header class="header-h2">
				<div class="topbar tb-dark tb-md">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="topbar-home2">
								<div class="tb-contact tb-iconbox">
									<ul>
										<li><a href="contact.html"><i class="fa fa-map-marker" aria-hidden="true"></i><span><i>Find us</i> 325 admiral unit, North cost, USA</span></a></li>
										<li><a href="mailto:admin@amwal.com"><i class="fa fa-envelope" aria-hidden="true"></i><span><i>Email us</i> admin@amwal.com</span></a></li>
										<li><a href="tel:0100123456789"><i class="fa fa-phone" aria-hidden="true"></i><span><i>Call us now</i> 0100123456789</span></a></li>
									</ul>
								</div>
								<div class="tb-social-lan language">
									<select class="lang">
										<option data-class="usa">English</option>
										<option data-class="italy">Italian</option>
										<option data-class="fr">French</option>
										<option data-class="gm">German</option>
									</select>
									<ul>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="google plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
									</ul>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /topbar -->
				<div class="nav-warp nav-warp-h2">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="navi-warp-home-2">
								<a href="index.html" class="logo"><img src="http://placehold.it/151x38/ccc.jpg" class="img-responsive" alt="Image"></a>
								<nav>
									<ul class="navi-level-1 active-subcolor">
										<li class="active">
											<a href="home">首頁</a>
										
										</li>
										<li><a href="single_services_2">產品</a>
											<ul class="navi-level-2">
											<li><a href="single_services_3" ><span>MT4/MT5搭建</span></a>
													<ul class="navi-level-3">
														<li><a href="single_services_3" ><span>白標租貨</span></a>
															
														</li>
														<li><a href="single_services_4" ><span>CRM系統</span></a>
															
														</li>
													</ul>
												</li>

												<li><a href="single_services_5" ><span>金融產品交易系統</span></a>
													<ul class="navi-level-3">
														<li><a href="single_services_5" ><span>傳統交易系統</span></a></li>
														<li><a href="single_services_6" ><span>二元期權交易系統</span></a></li>
														<li><a href="single_services_7" ><span>移動端交易系統</span></a></li>
													</ul>
												</li>
												<li><a href="single_services_8" ><span>加密數字貨幣</span></a>
													<ul class="navi-level-3">
														<li><a href="single_services_8" ><span>加密貨幣交易系統</span></a></li>
														<li><a href="single_services_9" ><span>加密貨幣錢包系統</span></a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<a href="company_history">服務體系 </a>
											<ul class="navi-level-2">
												<li ><a  href="company_history1">搭建配置服務</a><ul class="navi-level-3">
														<li ><a  href="company_history1">CRM運維</a></li>
														<li ><a  href="company_history2">個性化直播軟件建設</a></li>
														<li ><a  href="company_history3">SEM搜尋引擎管理</a></li>
													</ul>
												</li>
												<li ><a  href="company_history4">量化支持</a>
													<ul class="navi-level-3">
														<li ><a  href="company_history4">跟單系統</a></li>
														<li ><a  href="company_history5">量化策略優化</a></li>
													</ul>
												</li>
												<li ><a  href="company_history6">風險管理</a>
													<ul class="navi-level-3">
														<li ><a  href="company_history6">FIX清算對沖橋</a></li>
														<li ><a  href="company_history7">風控插件定制</a></li>
														<li ><a  href="company_history8">服務器運維</a></li>
														<li ><a  href="company_history9">風險管理系統</a></li>
													</ul>
												</li>
												<li ><a  href="company_history10">Web3.0</a>
													<ul class="navi-level-3">
														<li ><a  href="company_history10">NFT建設</a></li>
														<li ><a  href="company_history11">GameFi建設</a></li>
														<li ><a  href="company_history12">區塊鏈解決方案</a></li>
													</ul>
												</li>
											</ul>
										</li>
									
										<li>
											<a href="about_4">關於我們</a>
									
										</li>
										<li><a href="contact">聯絡我們</a><ul class="navi-level-2">
										
												<li ><a  href="contact">中國大陸辦事處</a></li>
												<li ><a  href="contact">中國台灣辦事處</a></li>
												<li ><a  href="contact">法國巴黎辦事處</a></li>
											</ul>
										</li>
										<li><a href="branches">加入我們</a></li>
									</ul>
								</nav>
								<ul class="subnavi">
									<li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
									<li>
										<a class="btn-search-navi" href="#/"><i class="fa fa-search" aria-hidden="true"></i></a>
										<div class="search-popup">
											<form class="form-search-navi">
												<div class="input-group">
													<input class="form-control" placeholder="Search Here" type="text">
												</div>
												<!-- /input-group -->
											</form>
										</div>
									</li>
								</ul>
								<a href="#menu" class="btn-menu-mobile"><i class="fa fa-bars" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /nav -->
			</header>
			<!-- /End Header 1 Warp -->
			
			<section class="no-padding sh-company-history">
				<div class="sub-header ">
					<span>OUR STORYS IN LINES</span>
					<h3>COMPANY HISTORY</h3>
					<ol class="breadcrumb">
 						<li>
 							<a href="#"><i class="fa fa-home"></i> HOME     </a>
 						</li>
 						<li class="active">COMPANY HISTORY</li>
 					</ol>
				</div>
			</section>
			<!-- /Sub HEader -->
			
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-9">
							<div class="main-page">
								<div class="history-list-warp">
									<div class="item-history-post">
										<p class="title-history"><span>运营推广</span>个性化直播软件建设</p>
										<p>
											我们开发的直播视频流媒体软件配备了先进的自定义功能和按需功能，可随着最新趋势而发展并吸引广大观众。
										</p>
									</div>
								</div>
							</div>
							
							<div class="title-block title-contact">
								<h3>全面直播视频流媒体软件开发者（Chetu）</h3>
								<span class="bottom-title"></span>
							</div>
								<ul class="list-check-icon">
								<li>实时视频流软件开发</li>
								<p>我们开发实时流媒体软件，以实现内容和虚拟事件的实时广播和流媒体，具有实时传输、访问控制、观众分析、增加观众参与度、会话记录、社交媒体流媒体等功能。</p>
								<li>视频点播软件开发</li>
								<p>我们的开发人员构建了视频点播 (VoD) 流媒体软件，使用户无需下载即可在任何设备上流式传输电视和电影、存档和重播实时事件，并通过暂停和倒带功能控制他们的观看体验。</p>
								<li>媒体播放器应用程序开发</li>
								<p>我们开发移动和基于 Web 的媒体播放器应用程序，包括 FLV、AVI、MOV、MP4、MPG 和 WMV，支持内容保护、播放控制、自适应多比特率流、录制等，并具有 VR 和 360 等高级功能度视频。</p>
								<li>交互式流媒体软件开发</li>
								<p>我们的专家构建交互式实时流媒体软件，通过低延迟、同步的定时元数据、聊天功能、双向实时应用视频流功能以及促进实时互动的速度和质量来连接观众并最大限度地提高参与度。</p>
								<li>收入驱动软件开发</li>
								<p>我们通过将有针对性的广告以横幅或成熟的低延迟商业广告的形式将目标广告整合到您的内容中，从而开发具有获利机会的实时视频流应用程序，这些广告会阻止使用该应用程序 15-30 秒的能力。</p>
								</ul>
								
							<div class="title-block title-contact">
								<h3>定制直播视频流解决方案（Chetu）</h3>
								<span class="bottom-title"></span>
							</div>
								<p>我们的行业专家开发了强大的定制解决方案，用于广播和流式传输具有无限输入和输出的高质量实时视频，以最大限度地扩大受众范围和参与度。</p>
								<ul class="list-check-icon">
								<li>电子商务直播解决方案</li>
								<p>我们使用工具构建电子商务软件来管理产品列表、订单、交付、支付和供应链，同时在一个中央系统中保持互操作性，该系统配备直观的在线购物门户和自动化营销和销售。</p>
								<li>娱乐直播解决方案</li>
								<p>我们的专家为虚拟高风险娱乐活动开发具有完美视频和声音质量的解决方案，我们可以将这些解决方案与多个视频和音频源集成，以管理全球大量现场观众和广播内容，并具有票务和注册功能。</p>
								<li>品牌网络研讨会解决方案</li>
								<p>我们创建定制的品牌网络研讨会解决方案，使观众能够在个性化空间中参与实时聊天室和投票，从而提高品牌知名度，并具有集成注册表单和提供对实时观众分析的访问权限的功能。</p>
								<li>实时监控和监控解决方案</li>
								<p>我们为智能交通基础设施、门禁系统、医疗设备等开发可靠、安全的视频监控和监控解决方案，为您提供对高质量和低延迟直播的持续实时访问。</p>
								</ul>
							
							<div class="title-block title-contact">
								<h3>定制直播视频流特色（Chetu）</h3>
								<span class="bottom-title"></span>
							</div>
								<p>我们的开发人员使用一组强大的高级特性和功能来定制您的解决方案，以连接观众、提供分析、通过直播流媒体获利等等。</p>
								<ul class="list-check-icon">
								<li>受众分析</li>
								<p>我们为实时跟踪和分析实时事件指标编写自定义功能，包括观众位置、观看时间、参与度等。</p>
								<li>多流</li>
								<p>我们提供多流功能，使用户能够同时将单个流广播到多个网站、社交平台和自定义 RTMP 目的地。</p>
								<li>视频缩略图</li>
								<p>我们添加了为任何视频创建缩略图的功能，利用图像大小、帧和分辨率规格自动抓取。</p>
								<li>自动视频转码</li>
								<p>我们开发了自动化视频格式化和转码过程的模块，并大大减少了流媒体和编码时间。</p>
								<li>效果和滤镜</li>
								<p>我们整合了通过调节伽玛、亮度、对比度和饱和度来增强视频的功能，并通过简单的参数提供艺术滤镜和效果。</p>
								<li>在线聊天</li>
								<p>我们实施实时聊天功能来连接用户，并通过视频、语音和消息传递功能、访问控制设置和自动监控来提高参与度。</p>
								<li>通知和调度</li>
								<p>我们提供功能来安排流、创建流时间表，并通过推送通知启用实时警报，以获取有关即将播放的视频的更新。</p>
								<li>货币化</li>
								<p>我们通过无缝插入支持多种支付方式的第三方广告以及订阅和捐赠系统来规划获利功能。</p>
								</ul>
							<div class="title-block title-contact">
								<h3>我们的优势（好猫软件）</h3>
								<span class="bottom-title"></span>
							</div>
								<p>高端APP定制开发专家，一站式移动产品解决方案服务商。</p>
								<ul class="list-check-icon">
								<li>技术实力</li>
								<p>10年互联网服务经验600+客户共同选择以不断追求精进的技术理念，创造出标准化开发流程确保客户在这里能够享受到更专业，更优质的服务。</p>
								<li>团队成员</li>
								<p>80人服务建设团队，互联网全领域专业团队，专注解决开发过程中出现的各类难题，能给予软件开发解决方案、运营推广方面专业实用的意见，助您快速适应新时代。</p>
								<li>增值服务</li>
								<p>全程无忧享受客服贴心服务：培训、技术咨询、系统升级建议。定期检查系统服务器运行情况，使系统健康稳定运行。</p>
								<li>专业流程</li>
								<p>多年的实战经验打造了完善的开发流程，原型确认，UI确认，前端确认在开发过程中双方不断交流确认，拒绝闭门造车，让客户体验全流程，监管全流程，交付一个合格满意的产品。</p>
								
								</ul>
							
						</div>
						<div class="col-md-3">
							<div class="sideabar">
								<div class="widget widget-sidebar widget-list-link">
									<h4 class="title-widget-sidebar">
										运营推广
									</h4>
									<ul class="wd-list-link">
										<li><a href="company_history1">CRM运维</a></li>
										<li><a href="company_history2">个性化直播软件建设</a></li>
										<li><a href="company_history3">SEM搜索引擎管理</a></li>
									</ul>
								</div>
								<div class="widget widget-sidebar widget-list-link">
									<h4 class="title-widget-sidebar">
										量化支持
									</h4>
									<ul class="wd-list-link">
										<li><a href="company_history4">跟单系统</a></li>
										<li><a href="company_history5">量化策略优化</a></li>
										
									</ul>
								</div>
								
								<div class="widget widget-sidebar widget-list-link">
									<h4 class="title-widget-sidebar">
										风险管理
									</h4>
									<ul class="wd-list-link">
										<li><a href="company_histor6">FIX清算对冲桥</a></li>
										<li><a href="company_histor7">风控插件定制</a></li>
										<li><a href="company_histor8">服务器运维</a></li>
										<li><a href="company_histor9">风险管理系统</a></li>
									</ul>
								</div>
								<div class="widget widget-sidebar widget-list-link">
									<h4 class="title-widget-sidebar">
										Web 3.0
									</h4>
									<ul class="wd-list-link">
										<li><a href="company_histor10">NFT 程序</a></li>
										<li><a href="company_histor11">GameFi程序</a></li>
										<li><a href="company_histor12">区块链解决方案</a></li>
									
									</ul>
								</div>
						</div>
					</div>
				</div>
			</section>

			<section class="bg-subcr-1">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="subcribe-warp whitecolor">
								<h2 class="sub-text-subcri">管理您的客户关系系统</h2>
								<form class="form-inline form-subcri">
								  <div class="form-group">
								    <label for="exampleInputName2"><small>立即与<span>Protex</span>的团队成员联系，获取贵公司自己的直播软件！</small></label>
								  </div>
								</form>
							</div>
						</div>
						<div class="col-md-12">
							<button class="darkbutton">立即咨询</button>
							
						</div>
					</div>
				</div>
			</section>
			<!-- /Subcribe -->
			<!-- Footer -->
			<footer class="f-bg-dark">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-text">
								<div class="title-block title-on-dark title-xs">
									<h4>About Amwal</h4>
									<span class="bottom-title"></span>
								</div>
								<p>The lysine contingency - it's intended to prevent the spread of the animals is case they ever got off the island. Dr. Wu inserted a gene that makes.</p>
								<ul class="widget widget-footer widget-footer-social-1">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-icon-link">
								<div class="title-block title-on-dark title-xs">
									<h4>Head Office</h4>
									<span class="bottom-title"></span>
								</div>

								<ul class="icon-link-list-icon">
									<li><i class="fa fa-map-marker" aria-hidden="true"></i>1422 Aqua blue Road St. Santa Rosa,tCA, USA.</li>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:admin@amwal.com">admin@amwal.com</a></li>
									<li><i class="fa fa-headphones" aria-hidden="true"></i> <a href="mailto:admin@amwal.com">support@amwal.com</a></li>
									<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:01008431112"> 002- 01008431112</a></li>
									<li><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:01008431112"> 002- 01008431112 </a></li>

								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-list-link">
								<div class="title-block title-on-dark title-xs">
									<h4>Company Links</h4>
									<span class="bottom-title"></span>
								</div>
								<ul>
									<li><a href="#">Our History</a></li>
									<li><a href="#">Mission & Vision</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="#">Partners</a></li>
									<li><a href="#">Our Team</a></li>
									<li><a href="#">Testimonials</a></li>

								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-img">
								<div class="title-block title-on-dark title-xs">
									<h4>Our Branches</h4>
									<span class="bottom-title"></span>
								</div>
								<img src="http://placehold.it/242x157/ccc.jpg" class="img-responsive" alt="Image">
							</div>
						</div>
					</div>
				</div>
			</footer>	
			<!-- /Footer -->

			<section class="no-padding cr-h1">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="copyright-warp cr-1">
								<div class="copyright-list-link">
									<ul>
										<li><a href="#">Home   </a></li>
										<li><a href="#">About Us  </a></li>
										<li><a href="#">Services   </a></li>
										<li><a href="#">Our Advisors  </a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</div>
								<div class="copyright-text">
									<p>© 2016 Amwal - Powered By <span>Mohamed Arafa</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /copyright -->
		</div>
		<!-- /page -->
		<a id="to-the-top" class="fixbtt bg-hover-theme"><i class="fa fa-chevron-up"></i></a> 
		<!-- Back To Top -->
		<!-- Switcher -->
		<!-- End Switcher -->
		<!-- SCRIPT -->
		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/vendor/bootstrap.js"></script>
		
		<!-- Sticky -->
		<script src="js/plugins/jquery.sticky-kit.min.js"></script>
		<!-- <script src="js/plugins/sticky.js"></script> -->
		<!-- Mobile Menu
			================================================== -->
		<script type="text/javascript" src="js/plugins/jquery.mmenu.all.min.js"></script>
		<script type="text/javascript" src="js/plugins/mobilemenu.js"></script>
		
		<!-- PreLoad
			================================================== --> 
		<script type="text/javascript" src="js/plugins/royal_preloader.js"></script>
		<!-- Parallax -->
		<script src="js/plugins/jquery.parallax-1.1.3.js"></script>
		<!-- <script src="js/plugins/parallax.js"></script> -->
		<!-- Fancy Select -->
		<script src="js/plugins/fancySelect.js"></script>
		<script src="js/plugins/lang-select.js"></script>
		<!-- Initializing the isotope
	    ================================================== --> 
	    <script src="js/plugins/isotope.pkgd.min.js"></script>
	    <script src="js/plugins/custom-isotope.js"></script>
		<!-- Global Js
			================================================== --> 
		<script src="js/plugins/template.js"></script>
		<!-- Demo Switcher
			================================================== -->
		<!-- <script src="switcher/demo.js"></script> -->
	</body>
</html>

