<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Amwal Single Services 2</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
		
		
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=devanagari,latin-ext" rel="stylesheet">
		<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="fonts/IcoMoon/icomoon.css">
		<link rel="stylesheet" href="fonts/linearicon/style.css">
		<!-- Mobile Menu -->
		<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
		<!-- OWL CAROUSEL
			================================================== --> 
		<link rel="stylesheet" href="css/owl.carousel.css">
		<!-- SELECTBOX
			================================================== -->
		<link rel="stylesheet" type="text/css" href="css/fancySelect.css" media="screen" />
		<!-- Main Style -->
		<link rel="stylesheet" href="style.css">
		
		<!-- Favicons
			================================================== -->
		<link rel="shortcut icon" href="http://placehold.it/32x32/ccc.jpg">
	</head>
	<body class="royal_loader">
		<!-- royal_loader -->
		<div id="page">
			<!-- Mobile Menu -->
			<nav id="menu">
				<ul>
					<li class="active">
						<a href="index.html">Home</a>
						<ul >
							<li ><a  href="index.html">HomePage  v1</a></li>
							<li ><a  href="index_2.html">HomePage  v2</a></li>
							<li ><a  href="index_3.html">HomePage  v3</a></li>
							<li ><a  href="index_4.html">HomePage  v4</a></li>
							<li ><a  href="index_5.html">HomePage  v5</a></li>
							<li ><a  href="index_6.html">HomePage  v6</a></li>
							<li ><a  href="index_7.html">HomePage  v7</a></li>
							<li ><a  href="index_8.html">HomePage  v8</a></li>
							<li ><a  href="index_9.html">HomePage  v9</a></li>
							<li ><a  href="index_10.html">HomePage  v10</a></li>
							<li ><a  href="index_11.html">HomePage  v11</a></li>
							<li ><a  href="index_12.html">HomePage  v12</a></li>
						</ul>
					</li>
					<li><a href="company_history.html">Company</a>
						<ul >

							<li><a href="company_history.html" ><span>Company History</span></a>
								<ul >
									<li><a href="company_history.html" ><span>Company History V1</span></a></li>
									<li><a href="company_history_2.html" ><span>Company History V2</span></a></li>
								</ul>
							</li>
							<li><a href="about.html" ><span>About</span></a>
								<ul >
									<li><a href="about.html" ><span>About Verision 1</span></a></li>
									<li><a href="about_2.html" ><span>About Verision 2</span></a></li>
									<li><a href="about_3.html" ><span>About Verision 3</span></a></li>
									<li><a href="about_4.html" ><span>About Verision 4</span></a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="services.html">Services </a>
						<ul >
							<li ><a  href="services.html">Services Page</a></li>
							<li ><a  href="single_services.html">Single Services</a>
								<ul >
									<li ><a  href="single_services.html">Single Services V1</a></li>
									<li ><a  href="single_services_2.html">Single Services V2</a></li>
									<li ><a  href="single_services_3.html">Single Services V3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="cases.html">Cases</a>
						<ul >
							<li><a href="cases.html">Cases Page</a></li>
							<li ><a  href="single_case.html">Single Cases</a></li>
						</ul>
					</li>
					<li>
						<a href="news.html">Blogs</a>
						<ul >
							<li><a href="news.html">Blog Page</a>
								<ul >
									<li><a href="news.html">Blog List Layout</a></li>
									<li><a href="news-2.html">Blog Grid Layout</a></li>
								</ul>
							</li>
							<li ><a  href="single_new.html">Single Blog</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Pages</a>
						<ul >
							
							<li ><a  href="team.html">Our Team</a>
								<ul >
									<li ><a  href="team.html">Our Team V1</a></li>
									<li ><a  href="team_2.html">Our Team V2</a></li>
									<li ><a  href="single_team.html">Team Single</a></li>
								</ul>
							</li>
							<li ><a  href="testimonials.html">Testimonials</a>
								<ul >
									<li ><a  href="testimonials.html">Testimonials V1</a></li>
									<li ><a  href="testimonials_2.html">Testimonials V2</a></li>
								</ul>
							</li>
							<li ><a  href="career.html">Career</a>
								<ul >
									<li ><a  href="career.html">Career Page</a></li>
									<li ><a  href="career_single.html">Career Single</a></li>
								</ul>
							</li>
							<li ><a  href="partners.html">Partners</a>
								<ul >
									<li ><a  href="partners.html">Partners Verision 1</a></li>
									<li ><a  href="partners_2.html">Partners Verision 2</a></li>
								</ul>
							</li>
							<li ><a  href="branches.html">Branches</a></li>
							<li ><a  href="ceo_message.html">Ceo Message</a></li>
							<li ><a  href="faq.html">FAQ Page</a></li>
							<li ><a  href="pricing.html">Pricing Page</a></li>
							<li ><a  href="my_account.html">Account Page</a></li>
							<li ><a  href="404.html">404 Page</a></li>
							<li ><a  href="comingsoon.html">Under Contruction</a></li>
							<!-- <li ><a  href="typography.html">Typography</a></li>
												<li ><a  href="element.html">Element</a></li> -->
						</ul>
					</li>
					<li>
						<a href="shop.html">Shop</a>
						<ul >
							<li> <a href="shop.html" ><span>Shop Category </span></a>
								<ul >
									<li> <a href="shop.html" ><span>Shop Category </span></a></li>
									<li> <a href="shop_2.html" ><span>Shop Sidebar </span></a></li>
								</ul>
							</li>
							<li ><a  href="single-shop.html">Shop Single</a></li>
							<li ><a  href="checkout.html">CheckOut Page</a></li>
							<li ><a  href="cart.html">Shopping Cart</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
			<!-- /Mobile Menu -->
			<header class="header-h2">
				<div class="topbar tb-dark tb-md">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="topbar-home2">
								<div class="tb-contact tb-iconbox">
									<ul>
										<li><a href="contact.html"><i class="fa fa-map-marker" aria-hidden="true"></i><span><i>Find us</i> 325 admiral unit, North cost, USA</span></a></li>
										<li><a href="mailto:admin@amwal.com"><i class="fa fa-envelope" aria-hidden="true"></i><span><i>Email us</i> admin@amwal.com</span></a></li>
										<li><a href="tel:0100123456789"><i class="fa fa-phone" aria-hidden="true"></i><span><i>Call us now</i> 0100123456789</span></a></li>
									</ul>
								</div>
								<div class="tb-social-lan language">
									<select class="lang">
										<option data-class="usa">English</option>
										<option data-class="italy">Italian</option>
										<option data-class="fr">French</option>
										<option data-class="gm">German</option>
									</select>
									<ul>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="google plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
									</ul>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /topbar -->
				<div class="nav-warp nav-warp-h2">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="navi-warp-home-2">
								<a href="index.html" class="logo"><img src="http://placehold.it/151x38/ccc.jpg" class="img-responsive" alt="Image"></a>
								<nav>
									<ul class="navi-level-1 active-subcolor">
										<li class="active">
											<a href="home">首頁</a>
										
										</li>
										<li><a href="single_services_2">產品</a>
											<ul class="navi-level-2">
											<li><a href="single_services_3" ><span>MT4/MT5搭建</span></a>
													<ul class="navi-level-3">
														<li><a href="single_services_3" ><span>白標租貨</span></a>
															
														</li>
														<li><a href="single_services_4" ><span>CRM系統</span></a>
															
														</li>
													</ul>
												</li>

												<li><a href="single_services_5" ><span>金融產品交易系統</span></a>
													<ul class="navi-level-3">
														<li><a href="single_services_5" ><span>傳統交易系統</span></a></li>
														<li><a href="single_services_6" ><span>二元期權交易系統</span></a></li>
														<li><a href="single_services_7" ><span>移動端交易系統</span></a></li>
													</ul>
												</li>
												<li><a href="single_services_8" ><span>加密數字貨幣</span></a>
													<ul class="navi-level-3">
														<li><a href="single_services_8" ><span>加密貨幣交易系統</span></a></li>
														<li><a href="single_services_9" ><span>加密貨幣錢包系統</span></a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<a href="company_history">服務體系 </a>
											<ul class="navi-level-2">
												<li ><a  href="company_history1">搭建配置服務</a><ul class="navi-level-3">
														<li ><a  href="company_history1">CRM運維</a></li>
														<li ><a  href="company_history2">個性化直播軟件建設</a></li>
														<li ><a  href="company_history3">SEM搜尋引擎管理</a></li>
													</ul>
												</li>
												<li ><a  href="company_history4">量化支持</a>
													<ul class="navi-level-3">
														<li ><a  href="company_history4">跟單系統</a></li>
														<li ><a  href="company_history5">量化策略優化</a></li>
													</ul>
												</li>
												<li ><a  href="company_history6">風險管理</a>
													<ul class="navi-level-3">
														<li ><a  href="company_history6">FIX清算對沖橋</a></li>
														<li ><a  href="company_history7">風控插件定制</a></li>
														<li ><a  href="company_history8">服務器運維</a></li>
														<li ><a  href="company_history9">風險管理系統</a></li>
													</ul>
												</li>
												<li ><a  href="company_history10">Web3.0</a>
													<ul class="navi-level-3">
														<li ><a  href="company_history10">NFT建設</a></li>
														<li ><a  href="company_history11">GameFi建設</a></li>
														<li ><a  href="company_history12">區塊鏈解決方案</a></li>
													</ul>
												</li>
											</ul>
										</li>
									
										<li>
											<a href="about_4">關於我們</a>
									
										</li>
										<li><a href="contact">聯絡我們</a><ul class="navi-level-2">
										
												<li ><a  href="contact">中國大陸辦事處</a></li>
												<li ><a  href="contact">中國台灣辦事處</a></li>
												<li ><a  href="contact">法國巴黎辦事處</a></li>
											</ul>
										</li>
										<li><a href="branches">加入我們</a></li>
									</ul>
								</nav>
								<ul class="subnavi">
									<li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
									<li>
										<a class="btn-search-navi" href="#/"><i class="fa fa-search" aria-hidden="true"></i></a>
										<div class="search-popup">
											<form class="form-search-navi">
												<div class="input-group">
													<input class="form-control" placeholder="Search Here" type="text">
												</div>
												<!-- /input-group -->
											</form>
										</div>
									</li>
								</ul>
								<a href="#menu" class="btn-menu-mobile"><i class="fa fa-bars" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /nav -->
			</header>
			<!-- /End Header 1 Warp -->
			
			<section class="no-padding sh-single-services">
				<div class="sub-header ">
					<span>WHAT WE DO</span>
					<h3>BONDS & COMMODITIES</h3>
					<ol class="breadcrumb">
 						<li>
 							<a href="#"><i class="fa fa-home"></i> HOME     </a>
 						</li>
 						<li>
 							<a href="#"> SERVICES     </a>
 						</li>
 						<li class="active">BONDS & COMMODITIES</li>
 					</ol>
				</div>
			</section>
			<!-- /Sub HEader -->
			
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="sideabar">
								<div class="widget widget-sidebar widget-list-link">
									<h4 class="title-widget-sidebar">
										Services
									</h4>
									<ul class="wd-list-link">
										<li><a href="single_services_2">全部產品</a></li>
										<li class="active"><a href="#">MT4/MT5搭建</a></li>
										<li><a href="single_services_3">白标租赁</a></li>
										<li><a href="single_services_4">CRM系统</a></li>
										
										
										<li class="active"><a href="#">金融产品交易系统</a></li>
										<li><a href="single_services_5">传统交易系统</a></li>
										<li><a href="single_services_6">二元期权交易系统</a></li>
										<li><a href="single_services_7">移动端交易系统</a></li>
										<li class="active"><a href="#">加密数字货币</a></li>
										<li><a href="single_services_8">加密货币交易系统</a></li>
										<li><a href="single_services_9">加密货币钱包和支付系统</a></li>

									</ul>
								</div>
								
								<div class="widget-sidebar widget widget-html">
									<div class="wd-html-block">
										<a href="#">
											<img src="http://placehold.it/269x180/ccc.jpg" class="img-responsive" alt="Image">
										</a>
										<div class="content-wd-html-inner">
											<span>联系我们</span>
											<p>
												Telegram马上沟通!
											</p>
										</div>
										<a href="#" class="ot-btn btn-sub-color" >
											Start
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-9">
						
						<div class="services-2-detail-warp">
								<div class="row">
									<div class="col-md-12">
										<div class="title-block title-contact2">
											<h3>加密数字货币</h3>
											<span class="bottom-title"></span>
										</div>
									</div>
									<div class="col-md-12">
										<div class="iconbox">
											<span class="icon icon-briefcase"></span>
											<h4>加密货币钱包和支付系统</h4>
											<p>Protex深耕区块链钱包技术开发，快速为项目方、交易所、线上电商、实体企业、区块链中小型企业等快速搭建钱包，打造完整的区块链生态体系。</p>
										</div>
									</div>
									<div class="col-md-12 title-block title-contact2">
										<h3>合作流程</h3>
										<span class="bottom-title"></span>
									</div>
									<div class="col-md-12">
										<div class="img">
											<img src="合作流程.png"  width="10%" height="10%">
										</div>
									</div>
									<br>
									<div class="services-2-detail-warp desk-pdt-60">
									<div class="row">
									<div class="col-md-6">
										<br>
										<div class="title-block">
											<h3>方案优势</h3>
											<span class="bottom-title"></span>
										</div>
										<ul class="list-check-icon">
											<li>多样化的产品组合</li>
											<p>支持多种钱包形态，多样运营模式，多类金融产品，多个主链币种，多种对接方式，可根据需求自由组合</p>
											<li>完整的服务闭环</li>
											<p>多工具支持，打造运营闭环；可伸缩架构，多服务实时监控，打造技术闭环；交易所、安全、媒体等百家合伙伙伴，打造生态闭环</p>
											<li>30+安全技术保障</li>
											<p>从用户、业务、系统等角度，提供安全审计、监测等30+项安全技术保障，多级别风险预警，保障资产安全</p>
											<li>快速的技术响应</li>
											<p>快速部署，7*24小时运维服务，安全时长20000h+。低运营成本，无需技术人员</p>
											
										</ul>
										
									</div>
									<div class="col-md-6">
										<br>
										<div class="title-block ">
											<h3>风控体系</h3>
											<span class="bottom-title"></span>
										</div>
										<ul class="list-check-icon">
											<li>风控100%全覆盖</li>
											<p>全方位风险管理，三重财务对账，钱包资金安全实时监控，严重报警主动干预。资产流转智能监控异常报警，提现阻断，DDos防御、流量清洗等30+项防御机制</p>
											<li>智能合约/代码审计</li>
											<p>由第三方机构出具专业的审计报告，采用形式化验证技术，自动扫描代码安全性；数十项安全检测项目，排查安全隐患，避免黑客攻击，保证智能合约安全性</p>
											<li>行为态势感知</li>
											<p>对用户行为进行大数据分析，从用户、管理员、资产、服务器多维度无死角监测，做到特殊用户打标，风险及时发现威胁，主动防御高危行为，系统攻击分析和主动拦截</p>
											<li>职务作恶防控</li>
											<p>高级别操作权限隔离，高危操作多重确认。异常登录审核、尝试越权操作、服务端高频访问、前序行为异常等管理员行为自查</p>
											
										</ul>
									</div>
									</div>
									</div>
									
									
								</div>
							</div>
								</div>
								
								<div class="col-md-12">
									<div class="title-block title-contact4">
										<h3>多种产品自由组合的解决方案</h3>
										<span class="bottom-title"></span>
									<div class="accordion-ceo">
											<div class="panel-group accordion-2" id="accordion">
												  <div class="panel panel-default">
													    <div class="panel-heading">
													      <h4 class="panel-title">
													        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne0">
													         HD钱包
													        </a>
													      </h4>
													    </div>
													    <div id="collapseOne0" class="panel-collapse collapse">
													      <div class="panel-body">
													      <p>私钥自持，助记词备份策略，PIN码、手机验证码、指纹等多种验证方式，为用户提供去中心化的数字资产存储方案</p>
													       <ul class="list-check-icon">
															<li>私钥自持</li>
															<p>私钥安全掌握在自己手里，多重加密，安全性高，极大程度上降低了资产被盗风险</p>
															<li>支持DAPP生态</li>
															<p>满足个性化需求，除资产存储外可作为DAPP市场入口，进行休闲娱乐，获取流量；也可作为分销平台，扩充平台的盈利模式，增加产品核心竞争力</p>
															<li>支持多主链币种</li>
															<p>支持全球TOP100+主链币种，一个钱包管理，极大降低数字资产的使用门槛和管理负担</p>
															<li>功能齐全</li>
															<p>30+功能模块、200+功能点，包含市面上所有的钱包需要的功能</p>
															</ul>
													      </div>
													    </div>
												  </div>
												  <div class="panel panel-default">
													    <div class="panel-heading">
													      <h4 class="panel-title">
													        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne1">
													         云端SaaS钱包
													        </a>
													      </h4>
													    </div>
													    <div id="collapseOne1" class="panel-collapse collapse">
													      <div class="panel-body">
													      <p>多种注册方式，多种流量来源，不同的运营功能，满足多层次客户的交易属性；云部署、API接口、SDK接入等多种对接方式，帮助项目方快速搭建钱包系统</p>
													     <ul class="list-check-icon">
															<li>闪兑系统</li>
															<p>支持钱包内兑换货币，无需充值交易所，方便快捷；一键兑换，无需专业操作，规则更简单</p>
															<li>场外交易</li>
															<p>快速使用法币出入金，采用B2C模式，可自行提供流动性，可对接其它流动性，拥有自主定价权</p>
															<li>商城支付</li>
															<p>与线上/线下商城合作，支持数字货币购物，增加商户数字货币应用场景，提高流通性，布局商户生态</p>
															<li>运营工具</li>
															<p>提供CMS系统、空投赠币、代币锁仓等运营工具，助力商户提升用户活跃度和黏性</p>
															</ul>
													      </div>
													    </div>
												  </div>
												   <div class="panel panel-default">
													    <div class="panel-heading">
													      <h4 class="panel-title">
													        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne2">
													         全功能钱包
													        </a>
													      </h4>
													    </div>
													    <div id="collapseOne2" class="panel-collapse collapse">
													      <div class="panel-body">
													      <p>通过经纪人系统、商城、游戏、OTC、余额宝等产品功能组合，帮助实体企业、项目方等商户打造全钱包运营闭环</p>
													    	<ul class="list-check-icon">
															<li>邀请返佣系统</li>
															<p>通过用户邀请搭建经纪人体系，有效解决商户运营初期流量不足问题，同时方便后续通过用户行为进行精细化运营</p>
															<li>挖矿系统</li>
															<p>提供在线租赁矿机挖矿服务，解决用户自建成本过高问题，用户挖矿收益支持多种方式返还</p>
															<li>锁仓系统</li>
															<p>后台支持发布锁仓任务、设置解锁规则。用户在锁仓周期内参与活动，根据锁仓规则可获取数字货币</p>
															<li>资产系统</li>
															<p>数字货币的活期、定期资产管理，可设置利率、锁定周期等参数，通过低风险的方式使用户资产保值或稳定增值，满足用户投资需求</p>
															</ul>
													      </div>
													    </div>
												  </div>
												   <div class="panel panel-default">
													    <div class="panel-heading">
													      <h4 class="panel-title">
													        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne3">
													        资管和金融服务
													        </a>
													      </h4>
													    </div>
													    <div id="collapseOne3" class="panel-collapse collapse">
													      <div class="panel-body">
													      <p>低成本全方位WaaS API，打造世界级企业资产托管平台</p>
													   	 <ul class="list-check-icon">
															<li>支持多主链币种</li>
															<p>支持全球TOP100+主链币种，一个钱包管理，极大降低数字资产的使用门槛和管理负担</p>
															<li>多重业务审核</li>
															<p>多重业务审核，私钥不出HSM设备，不触网多地备份，融灾</p>
															<li>数字资产闪兑</li>
															<p>支持火币、OK、币安等大型交易所价格选择，闪兑额高，速度快</p>
															
															</ul>
													      </div>
													    </div>
												  </div>
												   <div class="panel panel-default">
													    <div class="panel-heading">
													      <h4 class="panel-title">
													        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne4">
													        开放平台
													        </a>
													      </h4>
													    </div>
													    <div id="collapseOne4" class="panel-collapse collapse">
													      <div class="panel-body">
													      <p>通过开放平台为商户提供触达海量用户的渠道，同时将支付能力通过接口形式开放给商户，为商户提供更有竞争力的能力，保证用户的稳定和活跃度；同时降低开发者的开发成本和开发周期</p>
													    <ul class="list-check-icon">
															<li>对接商户应用</li>
															<p>商户可通过开放平台为自家应用对接海量Dapp场景应用，为其用户提供更丰富的玩法及服务</p>
															<li>开放接口</li>
															<p>开放数据、营销等功能接口，服务商可通过新功能组合成解决特定需求的功能插件提供给第三方合作伙伴或商户进行订购使用</p>
															<li>打通业务</li>
															<p>未来三方合作伙伴可通过开放平台将业务打通，实现跨系统合作，资源共享</p>
															<li>支持多应用平台拓展</li>
															<p>通过智能合约将加密货币整合到Dapp的基本功能中，搭建基于ETH、EOS生态的DApp分发平台，汇集EOS、行业应用、娱乐游戏、平台工具等应用</p>
															</ul>
													      </div>
													    </div>
												  </div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
			</section>
			
			<!-- /Subcribe -->
			<!-- Footer -->
			<footer class="f-bg-dark">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-text">
								<div class="title-block title-on-dark title-xs">
									<h4>About Amwal</h4>
									<span class="bottom-title"></span>
								</div>
								<p>The lysine contingency - it's intended to prevent the spread of the animals is case they ever got off the island. Dr. Wu inserted a gene that makes.</p>
								<ul class="widget widget-footer widget-footer-social-1">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-icon-link">
								<div class="title-block title-on-dark title-xs">
									<h4>Head Office</h4>
									<span class="bottom-title"></span>
								</div>

								<ul class="icon-link-list-icon">
									<li><i class="fa fa-map-marker" aria-hidden="true"></i>1422 Aqua blue Road St. Santa Rosa,tCA, USA.</li>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:admin@amwal.com">admin@amwal.com</a></li>
									<li><i class="fa fa-headphones" aria-hidden="true"></i> <a href="mailto:admin@amwal.com">support@amwal.com</a></li>
									<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:01008431112"> 002- 01008431112</a></li>
									<li><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:01008431112"> 002- 01008431112 </a></li>

								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-list-link">
								<div class="title-block title-on-dark title-xs">
									<h4>Company Links</h4>
									<span class="bottom-title"></span>
								</div>
								<ul>
									<li><a href="#">Our History</a></li>
									<li><a href="#">Mission & Vision</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="#">Partners</a></li>
									<li><a href="#">Our Team</a></li>
									<li><a href="#">Testimonials</a></li>

								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-img">
								<div class="title-block title-on-dark title-xs">
									<h4>Our Branches</h4>
									<span class="bottom-title"></span>
								</div>
								<img src="http://placehold.it/242x157/ccc.jpg" class="img-responsive" alt="Image">
							</div>
						</div>
					</div>
				</div>
			</footer>	
			<!-- /Footer -->

			<section class="no-padding cr-h1">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="copyright-warp cr-1">
								<div class="copyright-list-link">
									<ul>
										<li><a href="/home">Home   </a></li>
										<li><a href="/about_4">About Us  </a></li>
										<li><a href="/single_services_2">Services   </a></li>
										<li><a href="#">Our Advisors  </a></li>
										<li><a href="/contact">Contact</a></li>
									</ul>
								</div>
								<div class="copyright-text">
									<p>© 2016 Amwal - Powered By <span>Mohamed Arafa</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /copyright -->
		</div>
		<!-- /page -->
		<a id="to-the-top" class="fixbtt bg-hover-theme"><i class="fa fa-chevron-up"></i></a> 
		<!-- Back To Top -->
		<!-- Switcher -->
		<!-- End Switcher -->
		<!-- SCRIPT -->
		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/vendor/bootstrap.js"></script>
		<script src="js/plugins/jquery.waypoints.min.js"></script>
		<!-- Sticky -->
		<script src="js/plugins/jquery.sticky-kit.min.js"></script>
		<!-- <script src="js/plugins/sticky.js"></script> -->
		<!-- Mobile Menu
			================================================== -->
		<script type="text/javascript" src="js/plugins/jquery.mmenu.all.min.js"></script>
		<script type="text/javascript" src="js/plugins/mobilemenu.js"></script>
		<script src="js/plugins/owl.carousel.js"></script>
		<script src="js/plugins/owl.js"></script>
		<!-- PreLoad
			================================================== --> 
		<script type="text/javascript" src="js/plugins/royal_preloader.js"></script>
		<!-- Parallax -->
		<script src="js/plugins/jquery.parallax-1.1.3.js"></script>
		<!-- <script src="js/plugins/parallax.js"></script> -->
		<!-- Fancy Select -->
		<script src="js/plugins/fancySelect.js"></script>
		<script src="js/plugins/lang-select.js"></script>
		<!-- Chart -->
		<script src="js/plugins/custom-progressbar.js"></script>
		<script src="js/plugins/Chart.bundle.min.js"></script>
		<script>
    	</script>
		<!-- Global Js
			================================================== --> 
		<script src="js/plugins/template.js"></script>
		<!-- Demo Switcher
			================================================== -->
		<!-- <script src="switcher/demo.js"></script> -->
	</body>
</html>

