<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Amwal Single Services 2</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
		
		
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=devanagari,latin-ext" rel="stylesheet">
		<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="fonts/IcoMoon/icomoon.css">
		<link rel="stylesheet" href="fonts/linearicon/style.css">
		<!-- Mobile Menu -->
		<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
		<!-- OWL CAROUSEL
			================================================== --> 
		<link rel="stylesheet" href="css/owl.carousel.css">
		<!-- SELECTBOX
			================================================== -->
		<link rel="stylesheet" type="text/css" href="css/fancySelect.css" media="screen" />
		<!-- Main Style -->
		<link rel="stylesheet" href="style.css">
		
		<!-- Favicons
			================================================== -->
		<link rel="shortcut icon" href="http://placehold.it/32x32/ccc.jpg">
	</head>
	<body class="royal_loader">
		<!-- royal_loader -->
		<div id="page">
			<!-- Mobile Menu -->
			<nav id="menu">
				<ul>
					<li class="active">
						<a href="index.html">Home</a>
						<ul >
							<li ><a  href="index.html">HomePage  v1</a></li>
							<li ><a  href="index_2.html">HomePage  v2</a></li>
							<li ><a  href="index_3.html">HomePage  v3</a></li>
							<li ><a  href="index_4.html">HomePage  v4</a></li>
							<li ><a  href="index_5.html">HomePage  v5</a></li>
							<li ><a  href="index_6.html">HomePage  v6</a></li>
							<li ><a  href="index_7.html">HomePage  v7</a></li>
							<li ><a  href="index_8.html">HomePage  v8</a></li>
							<li ><a  href="index_9.html">HomePage  v9</a></li>
							<li ><a  href="index_10.html">HomePage  v10</a></li>
							<li ><a  href="index_11.html">HomePage  v11</a></li>
							<li ><a  href="index_12.html">HomePage  v12</a></li>
						</ul>
					</li>
					<li><a href="company_history.html">Company</a>
						<ul >

							<li><a href="company_history.html" ><span>Company History</span></a>
								<ul >
									<li><a href="company_history.html" ><span>Company History V1</span></a></li>
									<li><a href="company_history_2.html" ><span>Company History V2</span></a></li>
								</ul>
							</li>
							<li><a href="about.html" ><span>About</span></a>
								<ul >
									<li><a href="about.html" ><span>About Verision 1</span></a></li>
									<li><a href="about_2.html" ><span>About Verision 2</span></a></li>
									<li><a href="about_3.html" ><span>About Verision 3</span></a></li>
									<li><a href="about_4.html" ><span>About Verision 4</span></a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="services.html">Services </a>
						<ul >
							<li ><a  href="services.html">Services Page</a></li>
							<li ><a  href="single_services.html">Single Services</a>
								<ul >
									<li ><a  href="single_services.html">Single Services V1</a></li>
									<li ><a  href="single_services_2.html">Single Services V2</a></li>
									<li ><a  href="single_services_3.html">Single Services V3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="cases.html">Cases</a>
						<ul >
							<li><a href="cases.html">Cases Page</a></li>
							<li ><a  href="single_case.html">Single Cases</a></li>
						</ul>
					</li>
					<li>
						<a href="news.html">Blogs</a>
						<ul >
							<li><a href="news.html">Blog Page</a>
								<ul >
									<li><a href="news.html">Blog List Layout</a></li>
									<li><a href="news-2.html">Blog Grid Layout</a></li>
								</ul>
							</li>
							<li ><a  href="single_new.html">Single Blog</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Pages</a>
						<ul >
							
							<li ><a  href="team.html">Our Team</a>
								<ul >
									<li ><a  href="team.html">Our Team V1</a></li>
									<li ><a  href="team_2.html">Our Team V2</a></li>
									<li ><a  href="single_team.html">Team Single</a></li>
								</ul>
							</li>
							<li ><a  href="testimonials.html">Testimonials</a>
								<ul >
									<li ><a  href="testimonials.html">Testimonials V1</a></li>
									<li ><a  href="testimonials_2.html">Testimonials V2</a></li>
								</ul>
							</li>
							<li ><a  href="career.html">Career</a>
								<ul >
									<li ><a  href="career.html">Career Page</a></li>
									<li ><a  href="career_single.html">Career Single</a></li>
								</ul>
							</li>
							<li ><a  href="partners.html">Partners</a>
								<ul >
									<li ><a  href="partners.html">Partners Verision 1</a></li>
									<li ><a  href="partners_2.html">Partners Verision 2</a></li>
								</ul>
							</li>
							<li ><a  href="branches.html">Branches</a></li>
							<li ><a  href="ceo_message.html">Ceo Message</a></li>
							<li ><a  href="faq.html">FAQ Page</a></li>
							<li ><a  href="pricing.html">Pricing Page</a></li>
							<li ><a  href="my_account.html">Account Page</a></li>
							<li ><a  href="404.html">404 Page</a></li>
							<li ><a  href="comingsoon.html">Under Contruction</a></li>
							<!-- <li ><a  href="typography.html">Typography</a></li>
												<li ><a  href="element.html">Element</a></li> -->
						</ul>
					</li>
					<li>
						<a href="shop.html">Shop</a>
						<ul >
							<li> <a href="shop.html" ><span>Shop Category </span></a>
								<ul >
									<li> <a href="shop.html" ><span>Shop Category </span></a></li>
									<li> <a href="shop_2.html" ><span>Shop Sidebar </span></a></li>
								</ul>
							</li>
							<li ><a  href="single-shop.html">Shop Single</a></li>
							<li ><a  href="checkout.html">CheckOut Page</a></li>
							<li ><a  href="cart.html">Shopping Cart</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
			<!-- /Mobile Menu -->
			<header class="header-h2">
				<div class="topbar tb-dark tb-md">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="topbar-home2">
								<div class="tb-contact tb-iconbox">
									<ul>
										<li><a href="contact.html"><i class="fa fa-map-marker" aria-hidden="true"></i><span><i>Find us</i> 325 admiral unit, North cost, USA</span></a></li>
										<li><a href="mailto:admin@amwal.com"><i class="fa fa-envelope" aria-hidden="true"></i><span><i>Email us</i> admin@amwal.com</span></a></li>
										<li><a href="tel:0100123456789"><i class="fa fa-phone" aria-hidden="true"></i><span><i>Call us now</i> 0100123456789</span></a></li>
									</ul>
								</div>
								<div class="tb-social-lan language">
									<select class="lang">
										<option data-class="usa">English</option>
										<option data-class="italy">Italian</option>
										<option data-class="fr">French</option>
										<option data-class="gm">German</option>
									</select>
									<ul>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="google plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
									</ul>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /topbar -->
				<div class="nav-warp nav-warp-h2">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="navi-warp-home-2">
								<a href="index.html" class="logo"><img src="http://placehold.it/151x38/ccc.jpg" class="img-responsive" alt="Image"></a>
								<nav>
									<ul class="navi-level-1 active-subcolor">
										<li class="active">
											<a href="home">首頁</a>
										
										</li>
										<li><a href="single_services_2">產品</a>
											<ul class="navi-level-2">
											<li><a href="single_services_3" ><span>MT4/MT5搭建</span></a>
													<ul class="navi-level-3">
														<li><a href="single_services_3" ><span>白標租貨</span></a>
															
														</li>
														<li><a href="single_services_4" ><span>CRM系統</span></a>
															
														</li>
													</ul>
												</li>

												<li><a href="single_services_5" ><span>金融產品交易系統</span></a>
													<ul class="navi-level-3">
														<li><a href="single_services_5" ><span>傳統交易系統</span></a></li>
														<li><a href="single_services_6" ><span>二元期權交易系統</span></a></li>
														<li><a href="single_services_7" ><span>移動端交易系統</span></a></li>
													</ul>
												</li>
												<li><a href="single_services_8" ><span>加密數字貨幣</span></a>
													<ul class="navi-level-3">
														<li><a href="single_services_8" ><span>加密貨幣交易系統</span></a></li>
														<li><a href="single_services_9" ><span>加密貨幣錢包系統</span></a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<a href="company_history">服務體系 </a>
											<ul class="navi-level-2">
												<li ><a  href="company_history1">搭建配置服務</a><ul class="navi-level-3">
														<li ><a  href="company_history1">CRM運維</a></li>
														<li ><a  href="company_history2">個性化直播軟件建設</a></li>
														<li ><a  href="company_history3">SEM搜尋引擎管理</a></li>
													</ul>
												</li>
												<li ><a  href="company_history4">量化支持</a>
													<ul class="navi-level-3">
														<li ><a  href="company_history4">跟單系統</a></li>
														<li ><a  href="company_history5">量化策略優化</a></li>
													</ul>
												</li>
												<li ><a  href="company_history6">風險管理</a>
													<ul class="navi-level-3">
														<li ><a  href="company_history6">FIX清算對沖橋</a></li>
														<li ><a  href="company_history7">風控插件定制</a></li>
														<li ><a  href="company_history8">服務器運維</a></li>
														<li ><a  href="company_history9">風險管理系統</a></li>
													</ul>
												</li>
												<li ><a  href="company_history10">Web3.0</a>
													<ul class="navi-level-3">
														<li ><a  href="company_history10">NFT建設</a></li>
														<li ><a  href="company_history11">GameFi建設</a></li>
														<li ><a  href="company_history12">區塊鏈解決方案</a></li>
													</ul>
												</li>
											</ul>
										</li>
									
										<li>
											<a href="about_4">關於我們</a>
									
										</li>
										<li><a href="contact">聯絡我們</a><ul class="navi-level-2">
										
												<li ><a  href="contact">中國大陸辦事處</a></li>
												<li ><a  href="contact">中國台灣辦事處</a></li>
												<li ><a  href="contact">法國巴黎辦事處</a></li>
											</ul>
										</li>
										<li><a href="branches">加入我們</a></li>
									</ul>
								</nav>
								<ul class="subnavi">
									<li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
									<li>
										<a class="btn-search-navi" href="#/"><i class="fa fa-search" aria-hidden="true"></i></a>
										<div class="search-popup">
											<form class="form-search-navi">
												<div class="input-group">
													<input class="form-control" placeholder="Search Here" type="text">
												</div>
												<!-- /input-group -->
											</form>
										</div>
									</li>
								</ul>
								<a href="#menu" class="btn-menu-mobile"><i class="fa fa-bars" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /nav -->
			</header>
			<!-- /End Header 1 Warp -->
			
			<section class="no-padding sh-single-services">
				<div class="sub-header ">
					<span>WHAT WE DO</span>
					<h3>BONDS & COMMODITIES</h3>
					<ol class="breadcrumb">
 						<li>
 							<a href="#"><i class="fa fa-home"></i> HOME     </a>
 						</li>
 						<li>
 							<a href="#"> SERVICES     </a>
 						</li>
 						<li class="active">BONDS & COMMODITIES</li>
 					</ol>
				</div>
			</section>
			<!-- /Sub HEader -->
			
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="sideabar">
								<div class="widget widget-sidebar widget-list-link">
									<h4 class="title-widget-sidebar">
										Services
									</h4>
									<ul class="wd-list-link">
										<li><a href="single_services_2">全部產品</a></li>
										<li class="active"><a href="#">MT4/MT5搭建</a></li>
										<li><a href="single_services_3">白标租赁</a></li>
										<li><a href="single_services_4">CRM系统</a></li>
										
										
										<li class="active"><a href="#">金融产品交易系统</a></li>
										<li><a href="single_services_5">传统交易系统</a></li>
										<li><a href="single_services_6">二元期权交易系统</a></li>
										<li><a href="single_services_7">移动端交易系统</a></li>
										<li class="active"><a href="#">加密数字货币</a></li>
										<li><a href="#">加密货币交易系统</a></li>
										<li><a href="#">加密货币钱包和支付系统</a></li>

									</ul>
								</div>
								
								<div class="widget-sidebar widget widget-html">
									<div class="wd-html-block">
										<a href="#">
											<img src="http://placehold.it/269x180/ccc.jpg" class="img-responsive" alt="Image">
										</a>
										<div class="content-wd-html-inner">
											<span>联系我们</span>
											<p>
												Telegram马上沟通!
											</p>
										</div>
										<a href="#" class="ot-btn btn-sub-color" >
											Start
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-9">
						
						<div class="services-2-detail-warp">
								<div class="row">
									<div class="col-md-12">
										<div class="title-block title-contact2">
											<h3>金融产品交易系统</h3>
											<span class="bottom-title"></span>
										</div>
									</div>
									<div class="col-md-12">
										<div class="iconbox">
											<span class="icon icon-briefcase"></span>
											<h4>移动端交易系统</h4>
											<p>Protex自主研发了移动交易+微信、Facebook系统，服务全球交易市场。</p>
										</div>
									</div>
								</div>
							</div>
							
							<div class="services-2-detail-warp desk-pdt-60">
								<div class="row">
									<div class="col-md-12">
										<div class="title-block title-contact">
											<h3>移动交易系统“让交易随时随地”</h3>
											<span class="bottom-title"></span>
										</div>
									</div>
									<div class="col-md-6">
										<p class="demo-sub-about-text-6"><span>面向30亿+潜在移动交易者</span></p>
										
										<ul class="list-check-icon">
											<li>大盘门槛太高</li>
											<li>小额投资者望而却步</li>
											<li>股票、期货长期低迷</li>
											<li>投资者迫切渴求新领域</li>
											<li>12.6亿活跃微信用户</li>
											<li>28.5亿活跃Facebook用户</li>
										</ul>
										
										<p class="demo-sub-about-text-6"><span>多平台支持，账户信息同步（困顿科技）</span></p>
										<p>即插即用，支持功能定制化开发</p>
										<div class="col-md-6">
										<ul class="list-check-icon">
											<p>电脑端</p>
											<li>PC端交易客户端</li>
											<li>PC会员管理系统</li>
											<p>手机APP端</p>
											<li>苹果版交易客户端</li>
											<li>安卓版交易客户端</li>
										</ul>
										</div>
										<div class="col-md-6">
										<ul class="list-check-icon">
											<p>Facebook</p>
											<li>在线开户</li>
											<li>随时交易</li>
											<p>微信端</p>
											<li>微信开户</li>
											<li>微信交易</li>
										</ul>
										</div>
									</div>
									<div class="col-md-6">
										<p>Protex自主研发了移动交易+微信、Facebook系统，服务全球交易市场。移动交易系统基于微信、Facebook公众服务账号进行交易，无缝对接交易所（经纪商）大盘，无需下载安装应用程序，只需关注服务号即可进行外汇、贵金属、期货、股指等金融衍生品的小额交易。（困顿科技）</p>
										<div class="accordion-ceo">
											<div class="panel-group accordion-2" id="accordion">
												  <div class="panel panel-default">
													    <div class="panel-heading">
													      <h4 class="panel-title">
													        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne0">
													         全新模式
													        </a>
													      </h4>
													    </div>
													    <div id="collapseOne0" class="panel-collapse collapse">
													      <div class="panel-body">
													       关注微信或Facebook账号，即可注册入金做交易
													      </div>
													    </div>
												  </div>
												  
												  <div class="panel panel-default">
													    <div class="panel-heading">
													      <h4 class="panel-title">
													        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne1">
													          微操作微门槛
													        </a>
													      </h4>
													    </div>
													    <div id="collapseOne1" class="panel-collapse collapse">
													      <div class="panel-body">
													      1分钟学会，界面简洁，"0"激活条件，小额投入
													      </div>
													    </div>
												  </div>
												   <div class="panel panel-default">
													    <div class="panel-heading">
													      <h4 class="panel-title">
													        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne2">
													        服务大盘
													        </a>
													      </h4>
													    </div>
													    <div id="collapseOne2" class="panel-collapse collapse">
													      <div class="panel-body">
													   投入资金小，客户量大，便于为大盘培育优质客源
													      </div>
													    </div>
												  </div>
												  <div class="panel panel-default">
													    <div class="panel-heading">
													      <h4 class="panel-title">
													        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne3">
													        微风险巨能量
													        </a>
													      </h4>
													    </div>
													    <div id="collapseOne3" class="panel-collapse collapse">
													      <div class="panel-body">
													   实施监控，面向30亿移动用户及时处理，抢占市场先机
													      </div>
													    </div>
												  </div>
												   <div class="panel panel-default">
													    <div class="panel-heading">
													      <h4 class="panel-title">
													        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne4">
													        拓客神器
													        </a>
													      </h4>
													    </div>
													    <div id="collapseOne4" class="panel-collapse collapse">
													      <div class="panel-body">
													   微信/Facebook“一键分享”，二维码推广，实现病毒式传播
													      </div>
													    </div>
												  </div>
												  <div class="panel panel-default">
													    <div class="panel-heading">
													      <h4 class="panel-title">
													        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne5">
													       多交易类型
													        </a>
													      </h4>
													    </div>
													    <div id="collapseOne5" class="panel-collapse collapse">
													      <div class="panel-body">
													  支持常规外汇、涨跌期权、点差期权等不同的交易类型
													      </div>
													    </div>
												  </div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							
								</div>
							</div>
						</div>
			</section>
			
			<section id="fq" class="bg-fq-h12">
				<div class="container">
					<div class="title-block title-on-dark text-center">
						<span class="top-title "></span>
						<h2>自发式“病毒营销”为您实现快速拓客（困顿科技）</h2>
						<span class="bottom-title"></span>
							<br>
							<br>
					</div>
					<div class="col-md-4 col-sm-6 whitecolor2">
						<div class="counter-inline">
							<span class="icon icon-users"></span>
							<span >多级代理返佣</span>
						</div>
						<p>基于微信/Facebook的推广分享，按业绩、级别进行返佣</p>
					</div>
					<div class="col-md-4 col-sm-6 whitecolor2">
						<div class="counter-inline">
							<span class="icon icon-users"></span>
							<span >分享金</span>
						</div>
						<p>分享盈利单，赚取“分享金”，提升交易单量和平台活跃度</p>
					</div>
					<div class="col-md-4 col-sm-6 whitecolor2">
						<div class="counter-inline">
							<span class="icon icon-users"></span>
							<span >一起赚</span>
						</div>
						<p>入金送赠金，达到赠金转实条件时，代理可得额外奖励</p>
					</div>
					
				</div>
			</section>
			
			<section class="no-padding">
				<div class="cb-warp-h2 ">
					<div class="col-md-6 image-container">
						<div class="background-image" style="background: url(http://placehold.it/1280x570/ccc.jpg) ;"></div>
					</div>
					<div class="col-md-6 image-container image-container-right">
						<div class="background-image" style="background:#fff"></div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="whyus-warp-h4">
									<div class="title-block title-pd whyus-content-h4">
										<span class="top-title "></span>
										<h2>多模式支持，满足更加广泛需求（困顿科技）</h2>
										<p class="sub-title">一站式全套服务，让您无忧</p>
										<span class="bottom-title"></span>
									</div>
									<!-- <p class="demo-sub-about-text-3">-->
									<p class="demo-sub-about-text-3">
										一站式服务<span>我们<span>更懂你的<span>需求<span>
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="whyus-content-h4">
									<p>Protex移动交易系统支持分布式服务，可以支持数以万计的客户同时在线，支持做市、 会员、 挂牌、 撮合、 竞价、 OTC、 混合制等多种交易模式，交易方式的强强联合，让Protex移动交易系统的优势更加明显。企业仅需一个公众服务号或Facebook账号， 就可开启专业的移动交易系统。</p>
									<div class="col-md-6">
												<h4>业务优势</h4>
												<p>操作简单，交易品种丰富，适合任何投资阶层；支持自助开户和多种资金通道</p>
												<h4>运营优势</h4>
												<p>带有综合代理返佣营销体系及一键分享推荐客户功能，是交易所必备“拓客神器”</p>
												<h4>性能优势</h4>
												<p>运行于linux系统，支持百万人同时在线，连续稳定处理一万笔/秒</p>
											
									</div>
									<div class="col-md-6">
												<h4>部署优势</h4>
												<p>一键部署，主/备服务器双部署；“镜像”备份，遇到问题自动切换</p>
												<h4>运维优势</h4>
												<p>运维人员权限分层管理，险情出现时自动短信、邮件通知运维人员处理</p>
												<h4>风控优势</h4>
												<p>风控自动化、数据图表化、系统状况一目了然；关键信息加密传输储存</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="bg-plan-h5">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="group-title-btn">
								<div class="title-block">
									<span class="top-title"></span>
									<h2>轻松5步，搭建移动交易系统（困顿科技）</h2>
									<p class="sub-title">你与30亿用户的距离只差一个移动交易系统</p>
									<span class="bottom-title"></span>
								</div>
								<div class="customNavigation">
					                <a class="btn-3 btn-3-prev prev-step"><i class="fa fa-angle-left"></i></a>
					                <a class="btn-3 btn-3-next next-step"><i class="fa fa-angle-right"></i></a>
					        	</div><!-- End owl button -->
					        </div>
					        <div class="plan-warp-h5">
								<div id="plan-h5" class="owl-plan-h5">
									<div class="item-plan-step">

										<div class="step">1</div>
										<h4>申请</h4>
										<p>申请企业微信公众号，Facebook账号，我们协助完成</p>
									</div>

									<div class="item-plan-step">
										
										<div class="step">2</div>
										<h4>开通</h4>
										<p>开通微信、Facebook Pay、第三方支付等移动支付</p>
									</div>

									<div class="item-plan-step">
										
										<div class="step">3</div>
										<h4>规则</h4>
										<p>提供移动交易交易规则， 提交个人或企业信息</p>
									</div>

									<div class="item-plan-step">
										
										<div class="step">4</div>
										<h4>开发和部署</h4>
										<p>困顿科技专业团队为您定制开发和部署</p>
									</div>

									<div class="item-plan-step">
										
										<div class="step">5</div>
										<h4>上线运营</h4>
										<p>移动交易系统搭建完成，上线运营</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
				
			<!-- /Subcribe -->
			<!-- Footer -->
			<footer class="f-bg-dark">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-text">
								<div class="title-block title-on-dark title-xs">
									<h4>About Amwal</h4>
									<span class="bottom-title"></span>
								</div>
								<p>The lysine contingency - it's intended to prevent the spread of the animals is case they ever got off the island. Dr. Wu inserted a gene that makes.</p>
								<ul class="widget widget-footer widget-footer-social-1">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-icon-link">
								<div class="title-block title-on-dark title-xs">
									<h4>Head Office</h4>
									<span class="bottom-title"></span>
								</div>

								<ul class="icon-link-list-icon">
									<li><i class="fa fa-map-marker" aria-hidden="true"></i>1422 Aqua blue Road St. Santa Rosa,tCA, USA.</li>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:admin@amwal.com">admin@amwal.com</a></li>
									<li><i class="fa fa-headphones" aria-hidden="true"></i> <a href="mailto:admin@amwal.com">support@amwal.com</a></li>
									<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:01008431112"> 002- 01008431112</a></li>
									<li><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:01008431112"> 002- 01008431112 </a></li>

								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-list-link">
								<div class="title-block title-on-dark title-xs">
									<h4>Company Links</h4>
									<span class="bottom-title"></span>
								</div>
								<ul>
									<li><a href="#">Our History</a></li>
									<li><a href="#">Mission & Vision</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="#">Partners</a></li>
									<li><a href="#">Our Team</a></li>
									<li><a href="#">Testimonials</a></li>

								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget widget-footer widget-footer-img">
								<div class="title-block title-on-dark title-xs">
									<h4>Our Branches</h4>
									<span class="bottom-title"></span>
								</div>
								<img src="http://placehold.it/242x157/ccc.jpg" class="img-responsive" alt="Image">
							</div>
						</div>
					</div>
				</div>
			</footer>	
			<!-- /Footer -->

			<section class="no-padding cr-h1">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="copyright-warp cr-1">
								<div class="copyright-list-link">
									<ul>
										<li><a href="/home">Home   </a></li>
										<li><a href="/about_4">About Us  </a></li>
										<li><a href="/single_services_2">Services   </a></li>
										<li><a href="#">Our Advisors  </a></li>
										<li><a href="/contact">Contact</a></li>
									</ul>
								</div>
								<div class="copyright-text">
									<p>© 2016 Amwal - Powered By <span>Mohamed Arafa</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /copyright -->
		</div>
		<!-- /page -->
		<a id="to-the-top" class="fixbtt bg-hover-theme"><i class="fa fa-chevron-up"></i></a> 
		<!-- Back To Top -->
		<!-- Switcher -->
		<!-- End Switcher -->
		<!-- SCRIPT -->
		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/vendor/bootstrap.js"></script>
		<script src="js/plugins/jquery.waypoints.min.js"></script>
		<!-- Sticky -->
		<script src="js/plugins/jquery.sticky-kit.min.js"></script>
		<!-- <script src="js/plugins/sticky.js"></script> -->
		<!-- Mobile Menu
			================================================== -->
		<script type="text/javascript" src="js/plugins/jquery.mmenu.all.min.js"></script>
		<script type="text/javascript" src="js/plugins/mobilemenu.js"></script>
		<script src="js/plugins/owl.carousel.js"></script>
		<script src="js/plugins/owl.js"></script>
		<!-- PreLoad
			================================================== --> 
		<script type="text/javascript" src="js/plugins/royal_preloader.js"></script>
		<!-- Parallax -->
		<script src="js/plugins/jquery.parallax-1.1.3.js"></script>
		<!-- <script src="js/plugins/parallax.js"></script> -->
		<!-- Fancy Select -->
		<script src="js/plugins/fancySelect.js"></script>
		<script src="js/plugins/lang-select.js"></script>
		<!-- Chart -->
		<script src="js/plugins/custom-progressbar.js"></script>
		<script src="js/plugins/Chart.bundle.min.js"></script>
		<script>
    	</script>
		<!-- Global Js
			================================================== --> 
		<script src="js/plugins/template.js"></script>
		<!-- Demo Switcher
			================================================== -->
		<!-- <script src="switcher/demo.js"></script> -->
	</body>
</html>

